@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

photo
  display: block
  ng-form
    display: block
    margin: 0
    padding: 0
  .photo
    width: 100%
    transition: background-color ease 0.4s
    outline: 3px dashed silver
    display: table
    .inner
      padding: 1rem
      position: relative
      display: table-cell
      text-align: center
      vertical-align: middle
      .processing
        +position(absolute, 50% null null 50%)
        transform: translateX(-50%) translateY(-50%)
      .material-icons
        transition: opacity ease-out 0.3s
        +position(absolute, 50% null null 50%)
        transform: translateX(-50%) translateY(-50%)
        font-size: 2rem
        color: #b40000
        opacity: 0.2
        z-index: 10
        cursor: pointer
        &:hover
          opacity: 1
    &.dragover
      background-color: #cecece
    md-progress-circular
      margin: 0 auto


  ul
    margin-bottom: 1rem
    .dndPlaceholder
      margin-bottom: 5px
      min-height: 106px
      background-image: url("data:image/svg+xml;utf8,<svg width='55px' height='78px' viewBox='215 117 55 78' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><polygon id='Triangle' stroke='none' fill='#D8D8D8' fill-rule='evenodd' points='215 195 215 118 270 156.5'></polygon></svg>")
      background-repeat: no-repeat
      background-position: 0 center
      &:after
        content: ''
    li
      position: relative
      &.dndDraggingSource
        display: none
      &.dndDragging
        cursor: move
        background-color: silver

    .photo-wrapper
      margin: 0 auto
      +frameWithShadow()
      +size(150px 110px)
      div
        +size(100%)
        display: inline-block
        background: no-repeat center center
        background-size: contain

    .main-photo
      color: #469e3d
