<div class="find" ng-controller="find as $ctrl">

    <% include ./find.add-seo.ejs  %>

    <div class="search">
        <div class="wrap">
            <div layout="column" layout-gt-sm="row">
                <div flex flex-gt-sm="70" flex-order="2" flex-order-gt-sm="1">
                    <div class="breadcrumbs" ng-show="false"><%-breadcrumbs%></div>
                    <breadcrumbs></breadcrumbs>
                    <search></search>
                    <% if (subcategories && subcategories.length) { %>
                    <ul ng-show="false">
                        <%subcategories.forEach(function(subcategory) {%>
                        <li><a href="/<%=loc.slug%>/<%=subcategory.slug%><%=search%>" target="_self"><%=subcategory.name%> <span class="count"><%=subcategory.counts%></span></a></li>
                        <%})%>
                    </ul>
                    <%}%>
                </div>
                <div layout="row" layout-align-gt-sm="end center" flex flex-gt-sm="30" flex-order="1" flex-order-gt-sm="2">
                    <h1 ng-bind-html="$ctrl.titleHead"><%-titleHead%></h1>
                </div>
            </div>
        </div>
    </div>

    <% if (items) { %>
    <div class="wrap">
    <div layout="row" layout-xs="column" class="negative-margin cards-container" layout-margin>
        <div class="filters-column" ng-show="showFilter" flex>
            <search-filters search-filter-show="showFilter"></search-filters>
        </div>
        <div class="cards-column" flex>
            <card-list card-list-header="true"></card-list>
            <div ng-show="false">
                <%items.docs && items.docs.forEach(function(item) {%>
                <% if (item.imagesSrc && item.imagesSrc.length) { %><img src="<%=item.imagesSrc[0]%>" alt=""><% }%>
                <a href="<%=item.url%>" target="_self"><%=item.title%></a>
                <% if (item.price) { %><%-Common.thousandSeparator(item.price)%> ₽<% } %>
                <%})%>
                <div layout="row" layout-align-xs="center center">
                    <div><% include ../components/pagination.ejs %></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <% if (mapPointsCount) { %><section id="map" class="map" ng-show="$ctrl.mapPoints.length">
        <h3 class="wrap">Объявления на карте в {{$ctrl.locations[0].namePrepositional}} <span class="head-count">{{$ctrl.mapPoints.length}}</span></h3>
        <yamap-common yamap-common-center="$ctrl.locations[0].coordinates"
                      yamap-common-population="$ctrl.locations[0].population"
                      yamap-common-points="$ctrl.mapPoints"></yamap-common>
    </section><% } %>

    <% } %>

    <div class="wrap">
        <div layout="row" layout-margin class="add negative-margin">
            <div>
                <div class="additem-button silver normal">
                    <span class="corner"></span>
                    <a href="/podat_obyavlenie/<%= loc && loc.slug %><%= category ? '/' + category.slug : '' %>" target="_self">
                        Подать объявление
                        <% if (loc) { %><span>в <%= loc && loc.namePrepositional %></span><% }%>
                    </a>
                </div>
            </div>
            <div flex="30" flex-xs="100" flex-sm="100" class="welcome fs-08">
                Вы можете разместить свое объявление на нашей доске объявлений <%= loc && ('в ' + loc.namePrepositional) %><%= category && (' в категорию ' + category.name) %>
            </div>
        </div>
        <% if (seo && seo.content) { %><div class="article"><%-seo.content%></div><% } %>
    </div>

</div>
