<% if (user && user.role === 'admin') { %>
<div class="seo-article" ng-hide="closeSeo">
    <i class="material-icons close-seo" ng-click="closeSeo = true">&#xE5CD;</i>
    <div layout="row" layout-xs="column" class="row-data negative-margin">
        <div class="cell-data" ng-class="{'flex': seoOpen}">
            <seo-article seo-article-open="seoOpen"></seo-article>
        </div>
        <div class="cell-data" ng-hide="seoOpen" flex>
        <% if (seo) { %>
            <ul class="info">
                <% if (seo.title) { %><li>
                    <div>Title:</div>
                    <div><%=seo.title%></div>
                </li><% } %>
                <% if (seo.metaDescription) { %><li>
                    <div>Meta description:</div>
                    <div><%=seo.metaDescription%></div>
                </li><% } %>
                <% if (seo.metaKeywords && seo.metaKeywords.length) { %><li>
                    <div>Meta keywords:</div>
                    <div><%=seo.metaKeywords.join(', ')%></div>
                </li><% } %>
                <% if (seo.headerTitle && seo.headerTitle) { %><li>
                    <div>Заголовок:</div>
                    <div><%=seo.headerTitle%></div>
                </li><% } %>
                <% if (seo.content) { %><li>
                    <div>Сео текст:</div>
                    <div class="content"><%=Common.truncate(seo.content, 200)%></div>
                </li><% } %>
            </ul>
        <% } else { %>
            <div class="no-seo">Здесь ещё нет SEO</div>
        <% } %>
    </div>
    </div>
</div>
<% } %>
