<div layout="row" layout-align="start center" class="navbar">

    <div class="additem-button orange small">
        <span class="corner"></span>
        <a href="/podat_obyavlenie/" target="_self">добавить объявление</a>
    </div>


    <ul>
        <% menuItems.forEach(function(item) { %><li class="navbar-item"<%= item.attr %>><a href="<%= item.url %>" target="_self" class="<%= item.active ? 'active' : '' %>"><%= item.title %></a></li><% }) %><!--
        --><li class="navbar-item navbar-item-user" ng-if="$root.user">
            <noindex>
            <md-menu md-position-mode="target-right target" md-offset="0 78">
                <a href="#" ng-click="$mdOpenMenu($event)" target="_self">
                    <span class="avatar-with-name">
                        <span class="avatar">
                            <% if (user && user.avatarBlob) { %>
                            <img src="/avatar/user/<%=user.id%>.jpg">
                            <% } else { %>
                            <span class="noimage"><span></span></span>
                            <% } %>
                        </span>
                        <span class="username">{{$root.user.username}}</span>
                    </span>
                    <i class="material-icons">&#xE5C5;</i>
                </a>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button target="_self" href="/additem"><i class="material-icons">&#xE145;</i>Подать объявление</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button target="_self" href="/user-items"><i class="material-icons">&#xE871;</i>Мои объявления</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button target="_self" href="/profile"><i class="material-icons">&#xE3C9;</i>Редактировать профиль</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button target="_self" href="/logout"><i class="material-icons">&#xE879;</i>Выйти</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            </noindex>
        </li>
    </ul>
</div>

