@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

category
  .caption
    font-size: 0.9rem
  &+[ng-messages]
    margin-top: 0.3rem
    margin-bottom: 0

  display: block
  .category-list-container
    white-space: nowrap
    .category-list
      margin-right: 3px
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1)
      font-size: 0.85rem
      vertical-align: top
      display: inline-block
      background-color: white
      border: 1px solid #dedede
      padding: 0.7rem 0
      .category-item
        overflow: hidden
        cursor: pointer
        padding: 3px 0.7rem
        > span
          float: left
        &:hover
          background-color: #eaeaea

        .material-icons
          font-size: 0.9rem
          float: right
          margin-left: 0.5rem
          border: 1px solid white
          background-color: white
          height: 15px
          color: black
          border-radius: 2px
          position: relative
          &:hover
            color: white
            background-color: #dd7900
          &:active
            top: 1px
      .selected-item
        background-color: #383838
        color: white
        &:hover
          background-color: #383838
