<div class="caption">
    <span class="pseudo-link border-dashed" ng-show="$ctrl.currentNode" ng-click="$ctrl.openMenu()">{{$ctrl.currentNode.caption}}</span>
</div>
<div class="category-list-container">
    <div ng-repeat="list in $ctrl.lists" class="category-list">
        <div class="category-item"
             ng-repeat="node in list | orderBy : 'name'"
             ng-click="$ctrl.selectItem(node)"
             ng-class="{'selected-item': node.selected}">
            <span>{{node.name}}</span>
            <i class="material-icons"
               ng-click="$ctrl.selectThis(node)"
               ng-if="node.selected"
               title="Выбрать эту категорию">&#xE31B;</i>
        </div>
    </div>
</div>
