<md-dialog flex-xs="100" flex-sm="70" flex-md="50" flex="30" class="confirm">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Успешная авторизация</h2>
            <span flex></span>
            <md-icon ng-click="cancel()">close</md-icon>
        </div>
    </md-toolbar>
    <div class="md-dialog-content">
        Добавление через {{counter}} сек
    </div>
</md-dialog>
