<div class="wrapper">
    <md-button ng-repeat="option in $ctrl.options" ng-click="$ctrl.value=option.value" ng-class="{'md-accent md-raised': $ctrl.value === option.value}">{{option.title}}</md-button>
</div>
