<div ng-show="$ctrl.password">
    <div>
        Сила пароля:
        <span ng-show="$ctrl.strength === 0">Очень слабый</span>
        <span ng-show="$ctrl.strength === 1">Слабый</span>
        <span ng-show="$ctrl.strength === 2">Хороший</span>
        <span ng-show="$ctrl.strength === 3">Сильный</span>
    </div>
    <ul>
        <li ng-class="{active: ($ctrl.strength > 0)}"></li><!--
    --><li ng-class="{active: ($ctrl.strength > 1)}"></li><!--
    --><li ng-class="{active: ($ctrl.strength > 2)}"></li>
    </ul>
</div>
