@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

ic-password-strength
  display: block
  margin-top: 1rem
  margin-bottom: 1rem
  font-size: 0.7rem
  color: rgba(0,0,0,0.54)
  ul
    li
      +size(30px 4px)
      background-color: #dedede
      display: inline-block
      margin-right: 3px
    li.active
      background-color: #7ba427
