@mixin frameWithShadow($padding: 0.5rem, $shadow: 0.3)
  box-shadow: 0 2px 5px 0 rgba(0,0,0,$shadow)
  padding: $padding
  background-color: #fff

@mixin grayLineBottom
  border-bottom: 2px solid #eeeeee

@mixin fade-text($offsetTop: 1rem, $height: 1rem)
  &:after
    position: absolute
    display: block
    content: ''
    top: $offsetTop
    left: 0
    width: 100%
    height: $height
    +linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
