@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

.youtube-responsive
  position: relative
  display: block
  height: 0
  overflow: hidden
  padding: 0 0 56.25%
  > *
    position: absolute
    top: 0
    bottom: 0
    left: 0
    +size(100%)
    border: 0
