<!DOCTYPE html>
<html lang="en">
<head>
    <title idle-disabled="true"><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>
<body ng-cloak>
<header>
    <ul layout="row">
        <li>
            <a href="/" target="_self" class="logo" hide-xs hide-sm>
                <span class="slogan">сайт объявлений России</span>
            </a>
            <a href="/" target="_self" class="logo-mobile" hide-gt-sm>&nbsp;</a>
        </li>
        <li flex layout="row" layout-align="end center">
            <%- navbar() %>
        </li>
    </ul>
</header>

<section id="content" layout="column">
    <div class="submenu">
        <ul>
            <li><a href="/adm-service/moderate" target="_self" class="light">Модерация</a></li>
            <li><a href="/adm-service/users" target="_self" class="light">Пользователи</a></li>
        </ul>
    </div>
    <div>
        <%- body %>
    </div>
</section>

<% include includes/footer-adm.ejs %>
<script type="text/javascript">
    document.documentElement.setAttribute("data-agent", navigator.userAgent);
    <% if (authRequired) { %>window.authRequired = true;<% } %>
    <% if (user) { %>window.user = <%-JSON.stringify(user)%>;<% } %>
</script>
<script src="/build/bundle-admin.js"></script>
</body>
</html>
