<!DOCTYPE html>
<html lang="ru">
<head>
    <title><%= title %></title><% if (typeof metaDescription !== 'undefined') { %>
    <meta name="description" content="<%= metaDescription %>" /><% } %><% if ((typeof metaKeywords !== 'undefined') && metaKeywords.length) { %>
    <meta name="keywords" content="<%= metaKeywords.map(function(keyword) { return keyword.toLowerCase()}).join(', ') %>" /><% } %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    </style>
</head>
<body ng-cloak>
<% if ((typeof authRequired !== 'undefined') && user && !user.verified) { %>
<div class="nonVerified">
    Пожалуйста, проверьте свой Email и перейдите по ссылке активации. Также вы можете <a href="/user/verification/resend" target="_self">повторно запросить</a> ссылку активации.
</div>
<% } %>
<header>
    <ul layout="row">
        <li>
            <a href="/" target="_self" class="logo" hide-xs hide-sm>
                <span class="slogan">сайт объявлений России</span>
            </a>
            <a href="/" target="_self" class="logo-mobile" hide-gt-sm>&nbsp;</a>
        </li>
        <li flex layout="row" layout-align="end center">
            <%- navbar() %>
        </li>
    </ul>
</header>

<section id="content" layout="column">
    <md-progress-linear md-mode="indeterminate" class="page-loading" ng-show="$root.loading"></md-progress-linear>
    <div>
        <%- body %>
    </div>
</section>

<% include includes/footer.ejs %>

<script type="text/javascript">
    document.documentElement.setAttribute("data-agent", navigator.userAgent);
    <% if (authRequired) { %>window.authRequired = true;<% } %>
    <% if (user) { %>window.user = <%-JSON.stringify(user)%>;<% } %>
    <% if ((typeof jsVars !== 'undefined') && jsVars && jsVars.length) { jsVars.forEach(function(variable) {
        for (var key in variable) { %>window.<%- key%>=<%- variable[key]%>;<% }
    }); } %>
</script>
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42807804 = new Ya.Metrika({ id:42807804, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/42807804" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<% if ((typeof jsScripts !== 'undefined') && jsScripts && jsScripts.length) {
jsScripts.forEach(function(script) {
%><%- script%><%
});
} %>
<script src="/build/bundle.js"></script>
</body>
</html>
