<div class="data-container" ng-show="$ctrl.user" ng-class="{'xs-view': $root.$mdMedia('xs')}">
    <div class="data-row">
        <div class="data-cell">
            Имя:
        </div>
        <div class="data-cell">
            <md-icon ng-click="$ctrl.changeName()">edit</md-icon>
            {{$ctrl.user.firstname}} {{$ctrl.user.lastname}}
        </div>
    </div>
    <div class="data-row" ng-show="$ctrl.user.social">
        <div class="data-cell">
            Социальная сеть:
        </div>
        <div class="data-cell">
            <md-icon></md-icon>
            Ваш аккаунт привязан к
            <a ng-href="{{$ctrl.user.social.profile}}" target="_blank" class="social {{$ctrl.user.social.network}}"></a>
            <a ng-href="{{$ctrl.user.social.profile}}" target="_blank"
               class="capitalize">{{$ctrl.user.social.network}}</a>
        </div>
    </div>
    <div class="data-row" ng-show="$ctrl.user.email">
        <div class="data-cell">
            Email:
        </div>
        <div class="data-cell">
            <md-icon ng-click="$ctrl.changeEmail()">edit</md-icon>
            {{$ctrl.user.email}}
        </div>
    </div>
    <div class="data-row">
        <div class="data-cell">
            Никнейм:
        </div>
        <div class="data-cell" ng-hide="$ctrl.user.nickname">
            <md-icon ng-click="$ctrl.addNickname()">add</md-icon>
        </div>
        <div class="data-cell" ng-show="$ctrl.user.nickname">
            <div class="space"></div>
            {{$ctrl.user.nickname}}
        </div>
    </div>
    <div class="data-row" ng-show="$ctrl.user.email">
        <div class="data-cell">
            Пароль:
        </div>
        <div class="data-cell">
            <md-icon ng-click="$ctrl.changePassword()">edit</md-icon>
            ******
        </div>
    </div>
    <div class="data-row">
        <div class="data-cell">
            Фото:
        </div>
        <div class="data-cell edit-avatar">
            <div class="icons">
                <div ng-if="$ctrl.user.hasAvatar">
                    <md-icon ng-click="$ctrl.editAvatar()">edit</md-icon>
                    <md-icon ng-click="$ctrl.deleteAvatar()">delete</md-icon>
                </div>
                <div ng-if="!$ctrl.user.hasAvatar">
                    <md-icon ng-click="$ctrl.editAvatar()">add</md-icon>
                </div>
            </div>
            <img ng-src="{{$ctrl.avatarImage}}" alt="" ng-click="$ctrl.editAvatar()" class="avatar-100">
        </div>
    </div>
</div>

