<md-dialog class="account-profile" ng-class="{'gt-xs-view': $root.$mdMedia('gt-xs')}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Изменение Email</h2>
            <span flex></span>
            <md-icon ng-click="$ctrl.cancel()">close</md-icon>
        </div>
    </md-toolbar>
    <form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.change() : null" novalidate>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-show="!$ctrl.success" layout="column">
                    <md-input-container>
                        <label>Введите ваш пароль к аккаунту</label>
                        <input ng-model="$ctrl.password"
                               name="password" type="password"
                               required>
                    </md-input-container>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="$ctrl.email"
                               name="email"
                               ng-remote-validate="{'/api/validate/email': 'unique'}"
                               ng-remote-throttle="300"
                               type="email" minlength="5" maxlength="100" required>
                        <div ng-messages="form.email.$error">
                            <div ng-message="required">Это обязательное поле</div>
                            <div ng-message="email">Это поле должно быть действительным Email</div>
                            <div ng-message="minlength">Значение поля слишком короткое</div>
                            <div ng-message="maxlength">Значение поля слишком длинное</div>
                            <div ng-message="unique">Такой Email уже был зарегистрирован</div>
                        </div>
                    </md-input-container>
                    <div class="error-box" ng-show="$ctrl.serverError">
                        {{$ctrl.serverError}}
                    </div>
                </div>
                <div ng-show="$ctrl.success">
                    <h3>Email изменен</h3>
                    <p>
                        Мы только что отправили письмо на ваш Email: <b>{{$ctrl.email}}</b><br>
                        Пожалуйста перейдите по ссылке активации, которая содержится в этом письме.
                    </p>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.cancel()" class="md-raised" ng-show="$ctrl.success">
                Ok
            </md-button>
            <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading" type="submit" ng-show="!$ctrl.success"
                       class="md-raised md-primary">
                Сохранить
            </md-button>
            <md-button ng-click="$ctrl.cancel()" class="md-raised" ng-show="!$ctrl.success">
                Отмена
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
