@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'
@import '../../../app/cssmodules/mixins/index'

users
  .control-bar
    .controls-disabled
      opacity: 0.5
    padding: 0.5rem 0
    border-bottom: 5px solid #ececec
    margin-bottom: 1rem
    font-size: 0.9rem
    .md-button
      font-size: 0.65rem
      min-height: initial
      height: 1.4rem
      line-height: 1.4rem
      margin: 1px
      padding: 0 4px
    md-input-container
      margin-top: 0
      margin-bottom: 0.5rem
      input
        width: 95%
      @media (min-width: 600px)
        margin: 0
  .filter
    margin-bottom: 0.5rem

  .highlighted
    background-color: rgba(255, 255, 0, 0.7)

  .table-wrapper
    display: table
    border-collapse: collapse
    margin-bottom: 1rem
    .item
      display: table-row
      border-bottom: 1rem solid transparent
    .title
      font-size: 1.2rem
    .date
      color: #838383
      font-size: 0.8rem
      margin-bottom: 0.5rem
    .col
      display: table-cell
      vertical-align: top
      &:first-child
        padding-right: 1rem
        .avatar
          +user-avatar(90px)

  .table-wrapper
    @media (max-width: 599px)
      display: block
      .item
        display: block
        +grayLineBottom
        margin-bottom: 1rem
        &:last-child
          border-bottom: none
      .col-data-wrapper, .col-data
        display: block

  .count
    color: gray

  .paging
    padding-top: 0.5rem
    border-top: 5px solid #ececec

  .notfound
    margin-bottom: 1rem

  .load-more
    text-align: center

  .total-count
    color: gray
    font-size: 0.9rem
    margin-bottom: 1rem


  .fullname, .email, .items-count
    margin-bottom: 0.3rem

  .items-count
    span
      background-color: #dfdfdf
      font-size: 1.1rem
      color: white
      display: inline-block
      +size(1.4rem)
      line-height: 1.4rem
      text-align: center
    .approved
      background-color: #64ad4b
    .denied
      background-color: #e46326
    .new
      background-color: orange

  .email
    font-size: 0.9rem
    .verified, .nonverified
      font-size: 1.2rem
      color: green
    .nonverified
      color: orange

  .nickname
    font-size: 0.9rem
    color: #6f6f6f
  .social
    background: url(/images/social.png) no-repeat
    background-size: cover
    display: inline-block
    vertical-align: middle
    +size(20px)
    &.facebook
      background-position: -20px 0
    &.instagram
      background-position: -40px 0
    &.vkontakte
      background-position: 0 0
    &.odnoklassniki
      background-position: -100px 0
    &.google
      background-position: -80px 0
