@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'
@import '../../../app/cssmodules/mixins/index'

moderate
  .control-bar
    .controls-disabled
      opacity: 0.5
    padding: 0.5rem 0
    border-bottom: 5px solid #ececec
    margin-bottom: 1rem
    font-size: 0.9rem
    .md-button
      font-size: 0.65rem
      min-height: initial
      height: 1.4rem
      line-height: 1.4rem
      margin: 1px
      padding: 0 4px

    md-input-container
      margin-top: 0
      margin-bottom: 0.5rem
      input
        width: 95%
      @media (min-width: 600px)
        margin: 0

  .filter
    margin-bottom: 0.5rem

  .highlighted
    background-color: rgba(255, 255, 0, 0.7)

  .count
    color: gray

  .paging
    padding-top: 0.5rem
    border-top: 5px solid #ececec

  .notfound
    margin-bottom: 1rem

  .load-more
    text-align: center

  .material-icons
    color: $lightColor

  status, .description, .user, .total-count, .price, .location, .created, .category, .tags, .description-caption
    margin-bottom: 0.5rem

  .description
    font-size: 0.9rem

  .title
    font-size: 1.3rem

  .tags span
    display: inline-block
    margin-right: 0.2rem
    border-radius: 0.2rem
    background-color: #63ad7d
    color: white
    padding: 0 5px
    font-size: 0.9rem

  status
    display: block

  .total-count
    color: gray
    font-size: 0.9rem

  .user
    .avatar
      +user-avatar(40px)

  .empty-results
    text-align: center
    img
      max-width: 200px

  .row-data
    margin-bottom: 2rem
    @media (max-width: $layout-breakpoint-sm - 1)
      margin-bottom: 1rem
