<div class="control-bar">
    <div layout-gt-xs="row" layout="column" layout-align-gt-xs="start center">
        <md-input-container flex-gt-xs="35" flex-order="1" flex md-no-float>
            <input placeholder="Поиск по названию" ng-model="$ctrl.titleFilter" ng-model-options="{ debounce: 300 }">
        </md-input-container>
        <div flex flex-order-gt-xs="0" flex-order="2">
            <filter-buttons value="$ctrl.typeFilter" options="$ctrl.filterOptions"></filter-buttons>
        </div>
    </div>
</div>
<div class="total-count" ng-show="$ctrl.total">
    Выбрано {{$ctrl.total}}
</div>

<div class="notfound" ng-show="$ctrl.userItems.length === 0 && $ctrl.titleFilter">
    По условиям поиска ничего не найдено
</div>

<div class="empty-results" ng-show="!$ctrl.userItems.length">
    <img src="/images/have-a-nice-day.jpg" alt="Have a nice day">
</div>

<div class="items-list">
    <div layout="row" layout-xs="column" class="row-data" ng-repeat="item in $ctrl.userItems">
        <div class="cell-data">
            <item-image href="item.url"
                        image-src="item.photos"
                        photos-count="item.photosCount"
                        videos-count="item.videosCount"
                        width="'200px'"
                        height="'150px'"></item-image>
        </div>
        <div class="cell-data" flex>
            <div class="title"><a ng-href="{{item.url}}" target="_self" ng-bind-html="item.title"></a></div>
            <div>
                <status value="item.status" item-id="item.id" show-caption="true"></status>
            </div>
            <div class="user">
                <a ng-href="{{item.user.avatar}}" target="_self" class="avatar">
                    <span ng-show="!item.user.avatar" class="noimage"><span></span></span>
                    <img ng-show="item.user.avatar" ng-src="{{item.user.avatar}}">
                    <span class="status" ng-class="{online: item.user.online, offline: !item.user.online}"></span>
                </a>
                <a ng-href="{{item.user.url}}" target="_self">{{item.user.fullname}}</a>
            </div>
            <div class="price" ng-show="item.price">
                <i class="material-icons">&#xE263;</i> <span ng-bind-html="item.price"></span> руб.
            </div>
            <div class="created">
                <span><i class="material-icons">&#xE916;</i> {{item.createdAt}}</span>
            </div>
            <div class="location">
                <i class="material-icons">&#xE7F1;</i>
                <a ng-href="/{{item.region.slug}}" target="_self">{{item.region.name}}</a>,
                <a ng-href="/{{item.city.slug}}" target="_self">{{item.city.name}}</a>
            </div>
            <div class="category">
                <i class="material-icons">&#xE896;</i>
                <a ng-href="/{{item.city.slug}}/{{item.category.slug}}" target="_self">{{item.category.name}}</a>
            </div>
            <div class="tags" ng-show="item.tags && item.tags.length">
                <i class="material-icons">&#xE892;</i> <span ng-repeat="tag in item.tags">{{tag}}</span>
            </div>
            <div class="description-caption"><i class="material-icons">&#xE0D8;</i> Содержание:</div>
            <div class="description" ng-bind-html="item.description"></div>
        </div>
    </div>
</div>


<!--<div class="load-more">
    <md-button class="md-raised" ng-click="$ctrl.moderate()">
        Загрузить еще объявления (50)
    </md-button>
</div>-->

<div class="paging">
    <div paging
         ng-show="$ctrl.total > $ctrl.perPage"
         paging-action="$ctrl.getPage()"
         page="$ctrl.page"
         page-size="$ctrl.perPage"
         scroll-top="true"
         total="$ctrl.total"></div>
</div>
