<div class="home wrap" ng-controller="home as $ctrl">

    <h1>Сайт бесплатных объявлений России</h1>

    <% if (location) { %>
    <section layout="row" layout-xs="column" layout-margin class="negative-margin">

        <div class="frame" flex>
            <h3>Местоположение</h3>
            <div class="columns">
                <% nearByCities && nearByCities.forEach(function(city, index) { %>
                <div<%- index === 0 ? ' class="strong"' : ''%>><a href="/<%= city.slug %>" target="_self"><%= city.name %>&nbsp;<span class="count"><%= city.count %></span></a></div>
                <% }) %>
            </div>
        </div>

        <div class="frame" flex>
            <h3>Размещение объявлений в <%= location.namePrepositional %></h3>
            <div class="additem-button silver large">
                <span class="corner"></span>
                <a href="/podat_obyavlenie/<%= location.slug %>" target="_self">
                    Подать объявление <span>в <%= location.namePrepositional %></span>
                </a>
            </div>
        </div>
    </section>
    <% } %>

    <section layout="row" layout-xs="column" layout-sm="column" layout-margin class="negative-margin cities-and-stat">
        <div flex>
            <div class="frame big-cities">
                <h3><a href="/krupnye_goroda_rossii" target="_self">Крупные города России</a></h3>
                <div class="columns">
                    <% topCities && topCities.forEach(function(city) { %>
                    <div><a href="/<%= city.slug %>" target="_self"><%= city.name %>&nbsp;<span class="count"><%= city.count %></span></a></div>
                    <% }) %>
                </div>
            </div>
            <div class="frame">
                <h3>Крупные регионы</h3>
                <div class="columns">
                    <% topRegions && topRegions.forEach(function(region) { %>
                    <div><a href="/<%= region.slug %>" target="_self"><%= region.name %>&nbsp;<span class="count"><%= region.count %></span></a></div>
                    <% }) %>
                </div>
            </div>
        </div>
        <div flex class="stat">
            <h3>Статистика размещений объявлений</h3>
            <chart-stat></chart-stat>
        </div>
    </section>

    <% if ((location && location.type === 'city') && mapPointsCount) { %>
    <section class="map" ng-init="$ctrl.city = '<%=location.slug%>'">
        <h3>Объявления на карте в <%= location.namePrepositional%> <span class="head-count"><%=mapPointsCount%></span></h3>

        <yamap-common yamap-common-center="<%- JSON.stringify(location.location.coordinates) %>"
                      yamap-common-population="<%= location.population %>"
                      yamap-common-points="$ctrl.mapPoints"></yamap-common>

    </section>
    <% } %>

    <section>
        <p>
            <strong>Multiboard.ru - доска объявлений России</strong>, сайт предназначенный для размещения частных объявлений в тематических разделах
            3000+ городов России. Здесь можно подать объявление о продаже товаров и оказании услуг как частных лиц, так и организаций.
            Наш сервис предоставляет массу полезной информации о товарах и услугах. Здесь
            можно купить вещи с рук, выбрать место для отдыха и развлечений, и даже найти верного друга - собаку или кота.
        </p>
        <p>
            Простая регистрация с помощью соцсетей и удобная форма добавления позволит быстро подать Ваше объявление, затратив минимум усилий.
            У нас можно добавить объявления с фото, и встроить видео с популярного видеохостинга <a href="https://youtube.com" target="_self">YouTube</a>.
        </p>
        <p>
            Следует отметить, что объявления с фото и видео увеличивают привлекательность для пользователей и вызывают большую заинтересованность
            Ваших потенциальных покупателей и потребителей услуг. Встраивая YouTube видео на наш сайт Вы также повысите рейтинг видео и количество просмотров.
            Google и YouTube учитывают количество встраиваний видео на сайтах, повышая их позиции в поисковой выдаче.
        </p>
        <p>
            Россия - огромная страна со множеством населенных пунктов, поэтому очень важно правильно и точно задать регион объявления,
            при необходимости указав точное местоположение на <a href="https://yandex.ru/maps" target="_self">Яндекс.Картах</a>. Так нашим посетителям будет
            проще вас найти.
        </p>
    </section>

    <% if (lastItems && lastItems.length) { %>
    <section class="last-items">

        <h3>Последние объявления<%= location ? ' в ' + location.namePrepositional : ''%></h3>

        <div layout="row" layout-xs="column" layout-padding class="negative-margin">
        <%lastItems.forEach(function(item, index) {%>
            <div<%= (index > 1 ? ' hide-xs hide-sm' : '') %><%= (index > 3 ? ' hide-md' : '') %> flex="20" flex-sm="50" flex-md="25" flex-xs="100" class="item"
                ng-mouseenter="autoplay<%=index%> = !autoplay<%=index%>"
                ng-mouseleave="autoplay<%=index%> = !autoplay<%=index%>">
                <item-image href="'<%=item.url%>'"
                            autoplay="autoplay<%=index%>"
                            photos-count="'<%=item.photosCount%>'"
                            videos-count="'<%=item.videosCount%>'"
                            image-src='<%-JSON.stringify(item.imagesSrc)%>'
                            width="$ctrl.itemWidth"
                            height="$ctrl.itemHeight"></item-image>
                <div class="item-city"><%= (item.location && item.location.region) ? item.location.city ? 'г. ' + item.location.city.name : item.location.region.name : ''%></div>
                <div class="item-title"><a href="<%=item.url%>" target="_self"><%=item.title%></a></div>
                <% if (item.pr) { %><div class="item-price"><%-item.pr%> ₽</div><% } %>
            </div>
        <%})%>
        </div>

    </section>
    <% } %>

    <section class="share">
        <div class="share-text">Если Вам нравится наш сайт, поделитесь ссылкой в соцсетях и мессенджерах:</div>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber,whatsapp,telegram"></div>
    </section>

</div>
