@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

.big-cities
  .cnt
    font-size: 0.7rem
    color: lighten(black, 50%)
  .wrapper
    display: table
    border-spacing: 0
    border-collapse: collapse
    font-size: 0.9rem
    .region
      font-size: 0.7rem
      color: lighten(black, 50%)
    .row
      display: table-row
      &:nth-child(odd)
        background-color: lighten(black, 97%)
      &.header
        background-color: lighten(black, 93%)

    .cell
      display: table-cell
      border: 1px solid lighten(black, 91%)
      padding: 0.5rem
      &.number
        font-family: Arial
        font-size: 0.7rem
        text-align: right

    @media (max-width: $layout-breakpoint-xs - 1)
      font-size: 0.8rem
      .cell
        padding: 0.3rem


