@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'

item-image

  .image-wrapper
    display: inline-block
    //background-color: #ffffff
    padding: 7px
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3)
    transition: background-color 0.3s ease
    position: relative

    .photo-video
      position: absolute
      bottom: 0
      right: 0
      display: inline-block
      background-color: #ffffff
      padding-left: 5px
      padding-right: 2px
      padding-top: 3px
      font-size: 0.8rem
      vertical-align: top
      line-height: 0.8rem

    %photo-video
      vertical-align: top
      display: inline-block
      font-size: 1rem
      &:after
        color: #a4471c
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 1)
        font-family: 'Material Icons'

    .videos-count
      @extend %photo-video
      &:after
        color: #2c578a
        content: '\E04B'

    .photos-count
      @extend %photo-video
      margin-right: 0.2rem
      font-size: 0.9rem
      &:after
        content: '\E412'

    %arrows
      top: 50%
      z-index: 2
      position: absolute
      transform: translateY(-50%)
      font-family: 'Material Icons'
      font-size: 1.5rem
      border-radius: 50%
      color: #818181
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2)
      background-color: white
      transition: background-color 0.3s ease
      &:active
        background-color: silver
        color: white
      &.disabled
        &:active
          background-color: white
        &:after
          color: #dfdfdf

    .image-arr-left
      @extend %arrows
      &:after
        content: '\E314'
      left: -0.75rem

    .image-arr-right
      @extend %arrows
      &:after
        content: '\E315'
      right: -0.75rem

    .image-slide
      position: relative
      overflow: hidden
      .image
        position: absolute
        top: 0
        left: -1px
        background: no-repeat center center
        background-size: contain
        display: inline-block
        width: 101%
        height: 100%
        transition: 0.4s ease
        &.shift-left
          transform: translateX(-100%)
        &.shift-right
          transform: translateX(100%)

      .noimage
        width: 100%
        height: 100%
        span
          width: 100%
          height: 100%
        position: relative
        display: inline-block
