<div class="image-wrapper">
    <div class="image-slide" ng-style="{width: $ctrl.width, height: $ctrl.height}">
        <span ng-repeat="src in $ctrl.imageSrc">
            <a ng-href="{{$ctrl.href}}" target="_self">
                <span ng-show="$ctrl.imageSrc"
                      class="image"
                      ng-class="{'shift-right': $index > $ctrl.activeSlide, 'shift-left': $index < $ctrl.activeSlide}"
                      ng-style="{'background-image':'url({{src}})'}"></span>
            </a>
        </span>
        <a ng-href="{{$ctrl.href}}" target="_self"><span ng-hide="$ctrl.imageSrc && $ctrl.imageSrc.length" class="noimage"><span></span></span></a>
    </div>
    <div class="photo-video" ng-show="($ctrl.photosCount > 1) || ($ctrl.videosCount > 0)">
        <span ng-show="$ctrl.photosCount > 0">
            {{$ctrl.photosCount}}
            <span class="photos-count"></span>
        </span>
        <span ng-show="$ctrl.videosCount > 0">
            {{$ctrl.videosCount}}
            <span class="videos-count"></span>
        </span>
    </div>
    <a ng-class="{'disabled': $ctrl.leftArrDisabled}" target="_self" ng-show="$ctrl.imageSrc.length > 1" class="image-arr-left" ng-click="$ctrl.prev(); $ctrl.autoplay = false;"></a>
    <a ng-class="{'disabled': $ctrl.rightArrDisabled}" target="_self" ng-show="$ctrl.imageSrc.length > 1" class="image-arr-right" ng-click="$ctrl.next(); $ctrl.autoplay = false;"></a>
</div>


