@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

user-items

  .control-bar
    .controls-disabled
      opacity: 0.5
    padding: 0.5rem 0
    border-bottom: 5px solid #ececec
    margin-bottom: 1rem
    font-size: 0.9rem
    .md-button
      font-size: 0.65rem
      min-height: initial
      height: 1.4rem
      line-height: 1.4rem
      margin: 1px
      padding: 0 4px
    md-checkbox
      margin-bottom: 0

    md-checkbox.some-checked
      opacity: 1
      .md-icon
        border-color: transparent
        background-color: rgba(97,97,97,0.87)
        transform: rotate(0)
        &:after
          box-sizing: border-box
          position: absolute
          left: 5px
          top: -4px
          display: table
          width: 6.66667px
          height: 13.33333px
          border: 0 solid white
          border-bottom-width: 2px
          content: ''

    md-input-container
      margin-top: 0
      margin-bottom: 0.5rem
      input
        width: 95%
      @media (min-width: 600px)
        margin: 0

  .filter
    margin-bottom: 0.5rem
  .highlighted
    background-color: rgba(255, 255, 0, 0.7)

  .cell-checkbox
    text-align: left !important
  .cell-image
    text-align: center

  md-checkbox
    transition: opacity 0.3s ease
    opacity: 0.4
  md-checkbox:hover, md-checkbox.md-checked
    opacity: 1

  .total-count
    color: gray
    font-size: 0.9rem

  .notfound
    margin-bottom: 1rem
    color: darkred

  .description, .total-count, .price, .location, .created, .category, .tags, .expired
    margin-bottom: 0.5rem

  .title
    .material-icons
      color: royalblue
    font-size: 1.3rem

  .tags span
    display: inline-block
    margin-right: 0.2rem
    border-radius: 0.2rem
    background-color: #5f97d6
    color: white
    padding: 0 5px
    font-size: 0.85rem

  .created
    color: #838383
    font-size: 0.8rem

  .price
    font-size: 1.1rem

  .expired
    color: darkred

  .row-data
    margin-bottom: 2rem
    @media (max-width: $layout-breakpoint-sm - 1)
      margin-bottom: 1rem

  .controls
    font-size: 0.9rem
    > span
      margin-right: 0.4rem
