<div class="control-bar">
    <div layout-gt-xs="row" layout="column" layout-align-gt-xs="start center">

        <md-input-container flex-gt-xs="35" flex-order="1" flex md-no-float>
            <input placeholder="Поиск по названию" ng-model="$ctrl.titleFilter" ng-model-options="{ debounce: 300 }">
        </md-input-container>
        <div flex flex-order-gt-xs="0" flex-order="2">
            <span ng-show="$ctrl.userItems.length">
                <md-checkbox ng-model="$ctrl.selectAll" ng-class="{'some-checked': $ctrl.someChecked}"></md-checkbox>
            </span>
            <span ng-class="{'controls-disabled': !$ctrl.selected.length}">
                <span><span hide-sm hide-xs>Отмеченные</span>
                <md-button class="md-accent md-raised" ng-disabled="!$ctrl.selected.length" ng-click="$ctrl.prolong()">Продлить <span ng-show="$ctrl.selected.length">{{$ctrl.selected.length}}</span></md-button></span>
                <!--<md-button class="md-active md-raised">Снять с публикации</md-button></span>-->
            </span>

        </div>
    </div>

</div>

<div class="total-count" ng-show="$ctrl.total">
    Выбрано {{$ctrl.total}}
</div>

<div class="notfound" ng-show="$ctrl.userItems.length === 0 && $ctrl.titleFilter">По условиям поиска ничего не найдено</div>

<div class="items-list" ng-show="$ctrl.userItems.length">
    <div layout="row" layout-xs="column" class="row-data" ng-repeat="item in $ctrl.userItems">
        <div class="cell-data cell-checkbox">
            <md-checkbox ng-model="item.selected" ng-click="$ctrl.select(item.id)"></md-checkbox>
        </div>
        <div class="cell-data cell-image">
            <item-image href="item.url"
                        image-src="item.photos"
                        photos-count="item.photosCount"
                        videos-count="item.videosCount"
                        width="'200px'"
                        height="'150px'"></item-image>

        </div>
        <div class="cell-data">
            <div class="title">
                <span ng-show="item.location.placemarker">
                    <md-tooltip md-direction="top">Метка на карте{{item.location.placemarker.caption ? ': ' + item.location.placemarker.caption : ''}}</md-tooltip>
                    <i class="material-icons">&#xE55C;</i>
                </span>
                <a ng-href="{{item.url}}" target="_self" ng-bind-html="item.title"></a></div>
            <div class="price" ng-show="item.price"><span ng-bind-html="item.price"></span> руб.</div>
            <div class="created">
                <span>Создано {{item.createdAt}}</span>
                <!--<span ng-show="item.isUp">, продлено {{item.upAt}}</span>-->
            </div>
            <div class="tags" ng-show="item.tags && item.tags.length">
                <span ng-repeat="tag in item.tags">{{tag}}</span>
            </div>
            <div ng-show="item.isExpired" class="expired">
                Срок размещения истек
            </div>
            <div ng-hide="item.isExpired">
                <md-progress-linear md-mode="determinate" value="{{item.remainRatio}}"></md-progress-linear>
            </div>
            <div class="created" ng-hide="item.isExpired">{{item.expiredAt}}</div>
            <div class="controls">
                        <span class="pseudo-link" ng-click="$ctrl.prolong(item.id)">
                            <span ng-show="item.isExpired">Активировать</span>
                            <span ng-show="!item.isExpired">Продлить</span>
                        </span>
                <span><a ng-href="/additem/{{item.itemNumber}}" target="_self">Изменить</a></span>
                <span class="pseudo-link" ng-click="$ctrl.deleteItem(item.id)">Удалить</span>
            </div>
        </div>
    </div>
</div>

<div class="paging">
    <div paging
         ng-show="$ctrl.total > $ctrl.perPage"
         paging-action="$ctrl.getPage()"
         page="$ctrl.page"
         page-size="$ctrl.perPage"
         scroll-top="true"
         total="$ctrl.total"></div>
</div>
