<md-button ng-hide="$ctrl.seoArticleOpen" style="background-color: orange" class="md-raised" ng-click="$ctrl.showArticle()">
    Добавить / Редактировать SEO
</md-button>


<div ng-show="$ctrl.seoArticleOpen" class="add-form">
    <form name="form" ng-submit="$ctrl.sendForm()" novalidate>
        <h3><i class="material-icons">&#xE153;</i> SEO статья</h3>

        <md-input-container>
            <label>Название страницы (title)</label>
            <input ng-model="$ctrl.formData.title" name="title" type="text">
        </md-input-container>

        <md-input-container>
            <label>Meta description</label>
            <input ng-model="$ctrl.formData.metaDescription" name="metaDescription" type="text">
        </md-input-container>

        <div class="tags" ng-init="!$ctrl.formData.tags ? $ctrl.formData.tags = [] : null">
            <md-chips
                md-enable-chip-edit="true"
                ng-model="$ctrl.formData.metaKeywords"
                md-separator-keys="$ctrl.keys"
                placeholder="Meta keywords"></md-chips>
        </div>

        <md-input-container>
            <label>Заголовок страницы</label>
            <input ng-model="$ctrl.formData.headerTitle" name="headerTitle" type="text">
        </md-input-container>

        <div class="description">
            <div ng-hide="preview">
                <md-input-container>
                    <textarea rows="4" placeholder="Текст HTML" ng-model="$ctrl.formData.content"></textarea>
                </md-input-container>
            </div>

            <div ng-show="preview" class="preview" ng-bind-html="$ctrl.formData.content">
            </div>

            <md-button class="md-raised" ng-click="preview = !preview">
                <span ng-hide="preview">Предпросмотр</span>
                <span ng-show="preview">Редактор</span>
            </md-button>
        </div>

        <div layout="row">
            <div>
                <md-button type="submit" class="md-raised md-primary" ng-mousedown="$ctrl.sendform = true"
                           ng-disabled="$ctrl.loading">
                    <span ng-show="!$ctrl.loading">Сохранить статью</span>
                    <span ng-show="$ctrl.loading">Статья сохраняется...</span>
                </md-button>
                <md-button class="md-raised" ng-click="$ctrl.seoArticleOpen = false">Отмена</md-button>
            </div>
        </div>
    </form>
</div>
