@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

seo-article
  display: block
  .add-form
    .tags, .description
      margin-bottom: 1rem
    .preview
      background-color: #f0f0f0
      border: 1px solid #dfdfdf
      padding: 1rem
      min-height: 6rem
      a
        color: #2c578a
        text-decoration: underline



