@font-face
  font-family: 'Cuprum'
  src: local('Cuprum'), local('Cuprum-Regular'), url('/fonts/cuprum/cuprum.woff2') format('woff2'), url('/fonts/cuprum/cuprum.woff') format('woff'), url('/fonts/cuprum/cuprum.ttf') format('truetype')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Cuprum'
  src: local('Cuprum Italic'), local('Cuprum-Italic'), url('/fonts/cuprum/cuprumitalic.woff2') format('woff2'), url('/fonts/cuprum/cuprumitalic.woff') format('woff'), url('/fonts/cuprum/cuprumitalic.ttf') format('truetype')
  font-weight: 400
  font-style: italic

@font-face
  font-family: 'Cuprum'
  src: local('Cuprum Bold'), local('Cuprum-Bold'), url('/fonts/cuprum/cuprumbold.woff2') format('woff2'), url('/fonts/cuprum/cuprumbold.woff') format('woff'), url('/fonts/cuprum/cuprumbold.ttf') format('truetype')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Cuprum'
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'), url('/fonts/cuprum/cuprumbolditalic.woff2') format('woff2'), url('/fonts/cuprum/cuprumbolditalic.woff') format('woff'), url('/fonts/cuprum/cuprumbolditalic.ttf') format('truetype')
  font-weight: 700
  font-style: italic


@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: url(/fonts/iconfont/MaterialIcons-Regular.eot) /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/iconfont/MaterialIcons-Regular.woff) format('woff'), url(/fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype')


.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px  /* Preferred icon size */
  display: inline-block
  line-height: 1
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  direction: ltr

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale

  /* Support for IE. */
  font-feature-settings: 'liga'
