<md-dialog class="video-add" ng-class="{'gt-xs-view': $root.$mdMedia('gt-xs')}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Добавление видео</h2>
            <span flex></span>
            <md-icon ng-click="$ctrl.cancel()">close</md-icon>
        </div>
    </md-toolbar>
    <form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.add(form.youtubeUrl) : null" novalidate>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-show="!$ctrl.success" layout="column">
                    <md-input-container>
                        <label>URL видео с YouTube</label>
                        <input ng-model="$ctrl.youtubeUrl" name="youtubeUrl" required>
                        <div ng-messages="form.youtubeUrl.$error">
                            <div ng-message="required">Это обязательное поле</div>
                            <div ng-message="wrongUrl">Неверный формат URL-адреса YouTube</div>
                        </div>
                    </md-input-container>

                    <div class="fs-08">
                        Вставьте URL-адрес страницы с видео.<br>
                        Пример: https://www.youtube.com/watch?v=Icb4FaZgO2w
                    </div>

                    <div class="error-box" ng-show="$ctrl.serverError">
                        {{$ctrl.serverError}}
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading || $ctrl.serverError"
                       class="md-raised md-primary"
                       type="submit">Добавить
            </md-button>
            <md-button ng-click="$ctrl.cancel()" class="md-raised">
                Отмена
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
