<form ng-show="!$ctrl.success" name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.signUp() : null; "
      novalidate>
    <div layout="row" layout-xs="column">
        <md-input-container flex>
            <label>Имя</label>
            <input ng-model="$ctrl.user.firstname" name="firstname" minlength="2" maxlength="100" required>
            <div ng-messages="form.firstname.$error">
                <div ng-message="required">Это обязательное поле</div>
                <div ng-message="minlength">Значение поля слишком короткое</div>
                <div ng-message="maxlength">Значение поля слишком длинное</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>Фамилия</label>
            <input ng-model="$ctrl.user.lastname" name="lastname" minlength="2" maxlength="100">
            <div ng-messages="form.lastname.$error">
                <div ng-message="minlength">Значение поля слишком короткое</div>
                <div ng-message="maxlength">Значение поля слишком длинное</div>
            </div>
        </md-input-container>
    </div>

        <div layout="column">
            <md-input-container>
                <label>Email</label>
                <input ng-model="$ctrl.user.email"
                       name="email"
                       ng-remote-validate="{'/api/validate/email': 'unique'}"
                       ng-remote-throttle="300"
                       type="email" minlength="5" maxlength="100" required>
                <div ng-messages="form.email.$error">
                    <div ng-message="required">Это поле обязательное</div>
                    <div ng-message="email">Значение поля должно быть действительным Email</div>
                    <div ng-message="minlength">Значение поля слишком короткое</div>
                    <div ng-message="maxlength">Это поле обязательное</div>
                    <div ng-message="unique">Такой Email уже зарегистрирован</div>
                </div>
            </md-input-container>
        </div>

        <div layout="column">
            <md-input-container>
                <label>Пароль</label>
                <input ng-model="$ctrl.user.password" ng-pattern="/^(?=.*\d)[A-Za-z\d]{1,}$/"
                       name="password" type="{{$ctrl.passwordInputType}}" minlength="5" maxlength="25"
                       required>
                <i class="material-icons show-password" title="Показать пароль" ng-class="{'do-show-pass': $ctrl.passwordInputType === 'text'}" ng-click="$ctrl.changeInputPassType()">&#xE417;</i>
                <div ng-messages="form.password.$error">
                    <div ng-message="required">Это обязательное поле</div>
                    <div ng-message="pattern">Пароль должен быть не менее 5 символов, содержать буквы a-zA-Z и цифры 0-9
                    </div>
                </div>
                <ic-password-strength value="$ctrl.user.password"></ic-password-strength>
            </md-input-container>
        </div>

        <div class="g-recaptcha">
            <div
                vc-recaptcha
                theme="'light'"
                key="$ctrl.recaptchaSiteKey"
                on-create="$ctrl.setWidgetId(widgetId)"
                on-success="$ctrl.setResponse(response)"
                on-expire="$ctrl.cbExpiration()"
            ></div>
            <div class="captcha-error" ng-show="form.$error.recaptcha && trySubmit">
                Пожалуйста, подтвердите, что вы не робот
            </div>
        </div>
        <div class="captcha-error" ng-show="$ctrl.serverError">
            {{$ctrl.serverError}}
        </div>

        <div layout="column" layout-align="center center">
            <div flex>
                <md-input-container>
                    <md-checkbox ng-model="$ctrl.user.acceptAgreement" name="acceptAgreement" required>
                        Регистрируясь, я принимаю условия <a href="/agreement" target="_blank">Соглашения</a> об использовании сайта
                    </md-checkbox>
                </md-input-container>
            </div>
        </div>

        <div ng-show="form.acceptAgreement.$error.required && trySubmit" class="error-box">
            Для регистрации необходимо принять Соглашение
        </div>
        <div layout="row" layout-xs="column" layout-align="start center">
            <div flex="50" flex-xs="100" class="signup-button" layout-fill>
                <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading"
                           class="md-raised md-primary"
                           type="submit">Зарегистрироваться
                </md-button>
            </div>
            <div class="already-signed" flex="50" flex-xs="100" ng-init="text = 'Уже зарегистрированы?'">
                <a href="/login" target="_self" ng-hide="$ctrl.showComponent">{{text}}</a>
                <span class="pseudo-link" ng-show="$ctrl.showComponent" ng-click="$ctrl.showComponent = 'login'">{{text}}</span>
            </div>
        </div>

</form>

<div ng-show="$ctrl.success">
    <h3>Ваш аккаунт успешно создан</h3>
    <p>
        Теперь вы можете войти на сайт, указав Email и пароль: <br>
        <md-button ng-hide="$ctrl.showComponent" target="_self" class="md-raised" href="/login">На страницу логина</md-button>
        <md-button ng-show="$ctrl.showComponent" class="md-raised" ng-click="$ctrl.success = false; $ctrl.showComponent = 'login'">Перейти к логину</md-button>
    </p>
    <p>Пожалуйста не забудьте активировать ваш аккаунт.</p>
    <p>
        Мы только что отправили письмо на ваш ящик: <b>{{$ctrl.user.email}}</b><br>
        Пожалуйста, проверьте ваш ящик и перейдите по ссылке, указанной в письме.
    </p>
    <h3 style="color: darkred">Внимание!</h3>
    <p>
        Если вы не видите письма во &quot;входящих&quot;, пожалуйста, проверьте папку &quot;спам&quot;.
        Существует проблема с доставкой писем на ящики сервиса gmail.com.
        Активация аккаунтов с адресами gmail.com не требуется.
    </p>
</div>



