<div class="wrap">
    <h1>Мои объявления</h1>

    <% if (!items || !items.docs || !items.docs.length) { %>

    <div>У вас ещё нет объявлений</div>
    <md-button href="/additem" target="_self" class="md-raised md-primary">Подать объявление</md-button>

    <% } else { %>

    <user-items></user-items>

    <% } %>
</div>
