@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

location
  display: block
  .caption
    font-size: 0.9rem
    margin-bottom: 0.2rem
  &+[ng-messages]
    margin-top: 0.3rem
    margin-bottom: 0

#location-dialog
  height: 90%
  width: 40%
  h1
    font-size: 1.2rem
    margin-top: 0

  h2
    font-size: 1.2rem
    margin-top: 0
    margin-bottom: 0.3rem
    &+div
      margin-bottom: 1rem

  .city-top
    margin-bottom: 0.5rem
  .footer
    text-align: right
  .city-item
    margin-bottom: 0.1rem
  .location-label
    margin-bottom: 0.3rem
    font-weight: bold
    font-size: 0.9rem
