<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        h2 {
            font-size: 25px;
        }
        p, h2 {
            margin-bottom: 20px;
        }
        table {
            font: 16px Arial, sans-serif;
            color: #333;
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td>
            <h2>Здравствуйте, <%= user %></h2>
            <p>
                Ваш пароль был изменен.
            <p>
                Спасибо,<br>
                Команда MultiBoard.ru
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
