<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        a.button, a.button:hover {
            color: white;
        }
        .button {
            display: inline-block;
            background-color: #285595;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
        }
        h2 {
            font-size: 25px;
        }
        p, h2 {
            margin-bottom: 20px;
        }
        table {
            font: 16px Arial, sans-serif;
            color: #333;
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td>
            <h2>Здравствуйте, <%= user %></h2>
            <p>
                Мы получили запрос на восстановления вашего пароля.<br>
                Чтобы восстановить пароль, пожалуйста, перейдите по этой ссылке:</p>
            <p><a href="<%= url %>" target="_blank" class="button">Обновить пароль</a></p>
            <p>
                Если вы не делали запрос на восстановление пароля, то ничего делать не нужно.<br>
                Ссылка на восстановление пароля устареет через 4 часа.
            </p>
            <p>
                Спасибо,<br>
                Команда MultiBoard.ru
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
