<div class="wrap">

    <div class="big-cities" ng-controller="bigCitiesCtrl as $ctrl">

        <h1>Сайт бесплатных объявлений - крупные города России</h1>

        <div class="filter" layout="row">
            <md-input-container flex="30" flex-md="40" flex-sm="50" flex-xs="100">
                <label>Фильтр по названию города</label>
                <input ng-model="name">
            </md-input-container>
        </div>

        <div class="wrapper" ng-init="desc = true; order = 'population'">
            <div class="row header">
                <div class="cell">
                    <span class="pseudo-link" ng-click="order = 'name'; desc = !desc">Город</span>
                </div>
                <div class="cell">
                    <span class="pseudo-link" ng-click="order = 'population'; desc = !desc">Население</span>
                </div>
                <div class="cell">
                    <span class="pseudo-link" ng-click="order = '-cnt'; desc = !desc">Кол-во</span>
                </div>
            </div>
            <div ng-repeat="city in $ctrl.cities | filter:{ name: name } | orderBy: order: desc" class="row">
                <div class="cell">
                    <a ng-href="{{'/' + city.slug}}" target="_self">{{city.name}}</a>
                    <div class="region">{{city.region.name}}</div>
                </div>
                <div class="cell number" ng-bind-html="$ctrl.thousandSep(city.population)"></div>
                <div class="cell number" ng-bind-html="city.count ? $ctrl.thousandSep(city.count) : ''"></div>
            </div>
        </div>


        <% if (cities && cities.length) { %>
        <% cities.forEach(function(city, index) {%>
        <div ng-show="false"><a href="/<%= city.slug %>" target="_self"><%= city.name %></a> <%= city.cnt %></div>
        <%})%>
        <% } %>

    </div>

</div>
