<div class="wrap">
    <% if (id) { %>
    <h1>Редактирование объявления</h1>

    <additem edit-id="'<%=id%>'"></additem>

    <% } else { %>
    <h1>Добавить объявление</h1>

    <additem></additem>
    <% } %>
</div>

