<md-dialog id="location-dialog" ng-class="{'gt-xs-view': $root.$mdMedia('gt-xs')}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Выбор местоположения</h2>
            <span flex></span>
            <md-icon ng-click="$ctrl.cancel()">close</md-icon>
        </div>
    </md-toolbar>
    <form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.add() : null" novalidate>
        <md-dialog-content class="mddialogcontent">
            <div class="md-dialog-content" ng-switch="$ctrl.mode">
                <div ng-switch-when="loading">Загрузка...</div>
                <div ng-switch-when="cities-top">
                    <div class="city-top">
                        <div ng-repeat="city in $ctrl.citiesTop" class="city-item">
                            <span ng-show="$index > 1" class="pseudo-link" ng-click="$ctrl.selectCity(city)">{{city.name}}</span>
                            <b ng-show="$index <= 1" class="pseudo-link" ng-click="$ctrl.selectCity(city)">{{city.name}}</b>
                        </div>
                    </div>
                    <div class="footer">
                        <span ng-click="$ctrl.setMode('regions')" class="pseudo-link border-dashed">Другой город</span>
                    </div>
                </div>
                <div ng-switch-when="regions">
                    <div layout="column">
                        <md-input-container>
                            <label>Найти регион</label>
                            <input ng-model="regionsFilter" type="text">
                        </md-input-container>
                    </div>
                    <div ng-repeat="(letter, group) in $ctrl.regions">
                        <h2 ng-show="filteredRegions.length">{{letter}}</h2>
                        <div>
                            <div ng-repeat="region in group | filter: {name: regionsFilter} as filteredRegions">
                                <span class="pseudo-link" ng-click="$ctrl.selectRegion(region)">{{region.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <span ng-click="$ctrl.setMode('cities-top')" class="pseudo-link border-dashed">Назад</span>
                    </div>
                </div>
                <div ng-switch-when="cities">
                    <h1><span class="pseudo-link" ng-click="$ctrl.selectRegion($ctrl.selectedRegion, true)">{{$ctrl.selectedRegion.name}}</span> <span class="fs-08 pseudo-link" ng-click="$ctrl.selectRegion($ctrl.selectedRegion, true)" title="Выбрать регион без указания города">выбрать</span></h1>
                    <div layout="column">
                        <md-input-container>
                            <label>Найти город</label>
                            <input ng-model="citiesFilter" type="text">
                        </md-input-container>
                    </div>
                    <div class="regions-grouped multi-col">
                        <div ng-repeat="(letter, group) in $ctrl.cities">
                            <h2 ng-show="filteredCities.length">{{letter}}</h2>
                            <div>
                                <div ng-repeat="city in group | filter: {name: citiesFilter} as filteredCities">
                                    <span class="pseudo-link" ng-click="$ctrl.selectCity(city)">{{city.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <span ng-click="$ctrl.setMode('regions')" class="pseudo-link border-dashed">
                            <span ng-show="$ctrl.selectedRegion">Изменить регион</span>
                            <span ng-show="!$ctrl.selectedRegion">Назад</span>
                        </span>
                    </div>
                </div>
                <div ng-switch-when="metros">
                    <h1><span class="pseudo-link" ng-click="$ctrl.selectCity($ctrl.selectedCity, true)">{{$ctrl.selectedCity.name}}</span> <span class="fs-08 pseudo-link" ng-click="$ctrl.selectCity($ctrl.selectedCity, true)" title="Выбрать город и не указывать станцию метро">выбрать</span></h1>
                    <div class="location-label" ng-show="$ctrl.metros.length <= 15">Станция метро:</div>
                    <div layout="column" ng-show="$ctrl.metros.length > 15">
                        <md-input-container>
                            <label>Найти станцию метро</label>
                            <input ng-model="metrosFilter" type="text">
                        </md-input-container>
                    </div>
                    <div ng-repeat="metro in $ctrl.metros | filter: {name: metrosFilter}">
                        <span class="pseudo-link" ng-click="$ctrl.selectMetro(metro)">{{metro.name}}</span>
                    </div>
                    <div class="footer">
                        <span ng-click="$ctrl.backToRegion()" class="pseudo-link border-dashed">Изменить город</span>
                    </div>
                </div>
                <div ng-switch-when="districts">
                    <h1><span class="pseudo-link" ng-click="$ctrl.selectCity($ctrl.selectedCity, true)">{{$ctrl.selectedCity.name}}</span> <span class="fs-08 pseudo-link" ng-click="$ctrl.selectCity($ctrl.selectedCity, true)" title="Выбрать город и не указывать район">выбрать</span></h1>
                    <div class="location-label">Район:</div>
                    <div ng-repeat="district in $ctrl.districts">
                        <span class="pseudo-link" ng-click="$ctrl.selectDistrict(district)">{{district.name}}</span>
                    </div>
                    <div class="footer">
                        <span ng-click="$ctrl.backToRegion()" class="pseudo-link border-dashed">Изменить город</span>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
