<div class="caption">
    <span class="pseudo-link border-dashed" ng-click="$ctrl.select()">
        <span ng-show="!$ctrl.locationVal">Выбрать</span>
        <span ng-show="$ctrl.locationVal">
            <span ng-show="$ctrl.locationVal.city">{{$ctrl.locationVal.city.name}}</span>
            <span ng-show="$ctrl.locationVal.region">{{$ctrl.locationVal.region.name}}</span><!--
            --><span ng-show="$ctrl.locationVal.district">, район {{$ctrl.locationVal.district.name}}</span><!--
            --><span ng-show="$ctrl.locationVal.metro">, ст.метро {{$ctrl.locationVal.metro.name}}</span>
        </span>
    </span>
</div>
