@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

.home

  .columns
    +column-count(3)
    @media (max-width: $layout-breakpoint-sm - 1)
      +column-count(2)
    @media (max-width: $layout-breakpoint-xs - 1)
      +column-count(1)

  .stat
    h3
      margin: 0 0 1rem
      color: darken($color-gray, 10%)
      font-size: 1.1rem
      font-weight: normal
  .frame
    @extend .frame
    background: repeating-linear-gradient(135deg, #f7f7f7, #f7f7f7 1rem, #f1f1f1 1rem,#f1f1f1 2rem)

  .big-cities
    margin-bottom: 16px

  .cities-and-stat
    margin-bottom: 1rem

  .map
    h3
      margin-bottom: 0.5rem

  .share
    margin-bottom: 1.5rem
    .share-text
      margin-bottom: 0.3rem

  .last-items
    h3
      margin-bottom: 0
    .item
      text-align: center
      .item-city, .item-title
        font-size: 0.9rem
        @media (max-width: $layout-breakpoint-xs - 1)
          font-size: 1.1rem
      .item-price
        font-size: 1.1rem
        @media (max-width: $layout-breakpoint-xs - 1)
          font-size: 1.2rem
      .item-title
        overflow: hidden
        max-height: 2rem
        position: relative
        +fade-text()
        @media (max-width: $layout-breakpoint-xs - 1)
          max-height: 2.5rem
          &:after
            top: 1.5rem
      item-image
        margin-bottom: 0.5rem
