<md-dialog class="item-contacts" ng-class="{'gt-xs-view': $root.$mdMedia('gt-xs')}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Контакты</h2>
            <span flex></span>
            <md-icon ng-click="$ctrl.cancel()">close</md-icon>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div ng-show="$ctrl.contacts">
                <div class="contact-person">
                    {{$ctrl.contacts.contactPerson}}
                </div>
                <div class="phone"><i class="material-icons">&#xE0CD;</i> {{$ctrl.contacts.phone}}</div>
            </div>
            <div ng-show="!$ctrl.contacts">
                Загрузка...
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="$ctrl.cancel()" class="md-raised">
            Закрыть
        </md-button>
    </md-dialog-actions>

</md-dialog>
