<div class="wrapper">

    <i class="material-icons status-new" ng-click="$ctrl.setStatus('new')" ng-class="{active: $ctrl.value === 'new'}">&#xE8B5;</i>
    <i class="material-icons status-approved" ng-click="$ctrl.setStatus('approved')" ng-class="{active: $ctrl.value === 'approved'}">&#xE86C;</i>
    <i class="material-icons status-denied" ng-click="$ctrl.setStatus('denied')" ng-class="{active: $ctrl.value === 'denied'}">&#xE002;</i>

    <span ng-switch="$ctrl.value" ng-show="$ctrl.showCaption">
        <span ng-switch-when="new">Новое</span>
        <span ng-switch-when="approved">Принято</span>
        <span ng-switch-when="denied">Отклонено</span>
        <span ng-switch-default></span>
    </span>

</div>
