@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

card
  display: block
  > a
    transition: background-color 0.3s ease
    display: block
    &:hover
      background-color: #f5f5f5

  .image, .content
    margin-bottom: 0
  .image
    text-align: center
    padding-right: 0
    width: 300px
    @media (max-width: $layout-breakpoint-xs - 1)
      width: 100%
    item-image .image-wrapper
      display: block
      box-shadow: none
  .content
    position: relative
    padding: 1rem
    .title
      font-size: 1.3rem
    .info
      list-style-type: none
      margin: 0
      padding: 0
      font-size: 0.8rem
      color: lighten(black, 60%)
      li
        display: inline-block
      li:first-child:after
        content: "\000B7"
        margin: 0 3px
    .price
      font-size: 1.3rem

  //---------------
  // MOBILE VIEW

  > a.mobile
    height: 100%
    > div
      height: 100%

    .image
      text-align: center
      width: 100%
      .image-slide
        //border: 1px solid #dfdfdf
        .image
          background-size: contain

    .content
      padding: 0 0.7rem 0.7rem

      $line-height: 1.2rem
      $lines-to-show: 2
      .title
        font-size: 1.1rem
        margin-bottom: 0.2rem
        display: block /* or inline-block */
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: $lines-to-show /* number of lines to show */
        line-height: $line-height        /* fallback */
        max-height: $lines-to-show * $line-height
