<a ng-href="{{$ctrl.cardData.url}}" target="_self" ng-class="{mobile: $ctrl.cardTile}">
    <div ng-attr-layout="{{ $ctrl.cardTile ? 'column' : 'row' }}" layout-xs="column" ng-mouseenter="autoplay = !autoplay" ng-mouseleave="autoplay = !autoplay">
        <div class="image" flex-xs="100">
            <item-image href="$ctrl.cardData.url"
                        autoplay="autoplay"
                        photos-count="$ctrl.cardData.photosCount"
                        videos-count="$ctrl.cardData.videosCount"
                        image-src="$ctrl.cardData.imagesSrc"
                        width="'100%'"
                        height="'200px'"></item-image>
        </div>
        <div class="content" flex-xs="100" flex>
            <div layout="column" layout-fill>
                <div class="card-top" flex>
                    <div class="title">
                        <!--<a ng-href="{{$ctrl.cardData.url}}" target="_self" ng-bind-html="$ctrl.cardData.title"></a>-->
                        <span ng-bind-html="$ctrl.cardData.title"></span>
                    </div>

                    <ul class="info">
                        <li>{{$ctrl.cardData.createdAt}}</li><li>{{$ctrl.cardData.location.name}}</li>
                    </ul>
                </div>
                <div class="card-bottom" layout="row">
                    <div class="price" flex>
                    <span ng-show="$ctrl.cardData.price">
                        <span ng-bind-html="$ctrl.cardData.price"></span>р.
                    </span>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</a>



