<div ng-controller="itemCtrl as $ctrl" class="item">

    <% if ((user && user.id === item.user.id) || (user && user.role === 'admin')) { %>
    <section id="item-controls">
        <div class="item-controls frame">
            <div layout="row" layout-xs="column" layout-align="center center">
                <div flex>
                    <md-button target="_self" href="/additem/<%= item.itemNumber %>" class="md-raised">
                        <i class="material-icons">&#xE3C9;</i> <span>Редактировать</span>
                    </md-button>
                    &nbsp;
                    <md-button ng-click="$ctrl.removeItem('<%= item._id %>')" class="md-raised">
                        <i class="material-icons">&#xE872;</i> <span>Удалить</span>
                    </md-button>

                    <p><b>Совет:</b> чтобы ускорить индексацию вашего объявления в Яндексе и Google, а также повысить рейтинг и сделать объявление более заметным, нажимайте кнопку поделиться в соцсетях (VK, Twitter, Одноклассники, Google Plus и т.д.)</p>
                </div>
                <% if (user.role === 'admin') { %>
                <div>
                    <status value="'<%= item.status %>'" item-id="'<%= item._id %>'" confirm="'true'"></status>
                </div>
                <% } %>
            </div>
        </div>
    </section>
    <% } %>

    <section id="item-breadcrumbs" class="wrap">
        <div class="item-breadcrumbs">
            <%- item.breadcrumbs.map(function (breadcrumb) {
                return '<a href="' + breadcrumb.url + '" target="_self">' + breadcrumb.title + '</a>';
            }).join(' / '); %>
        </div>
    </section>

    <!--noindex-->
    <section id="item-header" class="wrap">
        <div layout="row" layout-xs="column" class="row-data">
            <div class="cell-data">
                <div class="share-caption">Поделитесь в соцсетях и мессенджерах:</div>
                <div class="ya-share2"
                     data-services="vkontakte,facebook,odnoklassniki,gplus,twitter,viber,whatsapp,telegram"></div>
            </div>
        </div>

        <div layout="row" layout-xs="column" layout-sm="column" class="row-data">
            <div class="item-title cell-data" flex>
                <h1><%= item.title %></h1>
                <div class="item-created">№<%= item.itemNumber %>, размещено <%= createdAt %></div>
            </div>
            <% if (price) { %>
            <div class="item-price cell-data">
                <%- price %> ₽
            </div>
            <% } %>
            <div class="item-user cell-data">
                <div class="avatar">
                    <% if (item.user && item.user.avatarBlob) { %>
                    <a href="<%= item.userProfileUrl %>" target="_self"><img
                            src="/avatar/user/<%= item.user.id %>.jpg"></a>
                    <% } else { %>
                    <span class="noimage"><span></span></span>
                    <% } %>
                </div>
                <div class="username">
                    <a href="<%= item.userProfileUrl %>" target="_self"><%= item.user.fullname %></a>
                </div>
            </div>
        </div>


        <div layout="row" class="row-data " layout-sm="column" layout-xs="column">
            <div class="cell-data">
                <md-button class="md-raised md-primary show-contacts"
                           ng-click="$ctrl.showContacts('<%= item._id %>')">
                    <i class="material-icons">&#xE0CD;</i> Показать контакты
                </md-button>
            </div>

            <div flex class="cell-data">

                <% if (item.contactPerson) { %>
                <div class="item-contact-person">
                    Контактное лицо:
                    <%= item.contactPerson %>
                </div>
                <% } %>
                <% if (item.companyName) { %>
                <div class="item-company-name">
                    Компания:
                    <%= item.companyName %>
                </div>
                <% } %>
                <div class="item-phone" ng-show="$ctrl.contacts">
                    Номер телефона:
                    <span ng-bind-html="$ctrl.contacts.phone"></span>
                </div>
            </div>

            <div flex class="cell-data">
                Местоположение: <%- item.locations.map(function (location) {
                    return location.title;
                }).join(', '); %>
            </div>
        </div>
    </section>

    <% if (item.images && item.images.length) { %>
    <section id="item-images" class="wrap">
        <div class="item-images">
            <div ng-init='$ctrl.images = <%- JSON.stringify(item.images) %>'></div>

            <div class="image-wrapper">
                <div class="prev" ng-click="$ctrl.prev()" ng-show="$ctrl.images.length > 1"></div>
                <div class="next" ng-click="$ctrl.next()" ng-show="$ctrl.images.length > 1"></div>
                <!-- IE -->
                <svg class="blur-ie">
                    <defs>
                        <filter id="blur">
                            <feGaussianBlur stdDeviation="12"/>
                        </filter>
                    </defs>
                    <image xlink:href="{{$ctrl.images[$ctrl.selectedIndex].url}}" width="100%" height="100%"
                           filter="url(#blur)"></image>
                </svg>
                <div class="item-image-wrapper">
                    <div class="item-image-wrapper">
                        <img class="item-image" ng-src="{{$ctrl.images[$ctrl.selectedIndex].url}}"
                             alt="<%= item.images[0].description %>" src="<%= item.images[0].url %>"
                             ng-click="$ctrl.next()">
                        <div class="description" ng-show="$ctrl.images[$ctrl.selectedIndex].description">
                            {{$ctrl.images[$ctrl.selectedIndex].description}}
                        </div>
                        <div class="zoom-in" ng-click="methods.open($ctrl.selectedIndex)"></div>
                    </div>
                </div>
                <div class="image-blur" style="background-image: url({{$ctrl.images[$ctrl.selectedIndex].url}})"></div>
            </div>

            <div class="thumbnails" ng-show="$ctrl.images.length > 1">
                <% for (var i = 0; i < item.images.length; i++) { %>
                <div class="thumbnail-wrapper" ng-click="$ctrl.selectedIndex = <%= i %>"
                     ng-class="{'selected-image': $ctrl.selectedIndex === <%= i %>}">
                    <span class="helper"></span><img class="thumbnail-image" alt="<%= item.images[i].description %>"
                                                     src="<%= item.images[i].thumbUrl %>">
                </div>
                <% } %>
            </div>

            <ng-image-gallery
                thumbnails="false"
                images="$ctrl.images"
                methods="methods"
                bg-close="true"
                bubbles="true"
                img-anim="fadeup"
            ></ng-image-gallery>

        </div>
    </section>
    <% } %>
    <!--/noindex-->

    <section id="item-description" class="wrap">
        <div class="item-description">
            <%- item.description %>
        </div>
    </section>

    <% if (item.videos && item.videos.length) { %>
    <section id="item-videos" class="wrap">
        <div class="item-video">
            <h3>Видео</h3>
            <div layout="row" layout-xs="column" class="video-items">
                <% item.videos.forEach(function(video) { %>
                <div flex="50" flex-xs="100">
                    <div class="video-wrapper">
                        <div class="youtube-responsive">
                            <youtube-video video-id="'<%= video.youtubeId %>'"
                                           player-vars="{ showinfo: 0 }"></youtube-video>
                        </div>
                    </div>
                    <h4><%= video.title %></h4>
                </div>
                <% }) %>
            </div>
        </div>
    </section>
    <% } %>

    <% if (item.tags && item.tags.length) { %>
    <section id="item-tags" class="wrap">
        <div class="item-tags">Теги: <span><%- item.tags.map(function (tag) {
                    return '<a href="/' + (item.location.city ? item.location.city.slug : item.location.region.slug) + '?q=' + tag + '" target=\"_self\">' + tag + '</a>'
                }).join(' ').toLowerCase() %></span></div>
    </section>
    <% } %>

    <% if (items && items.length) { %>
    <section id="items" ng-show="false">
        <% items.forEach(function(item, index) { %>
        <% if (item.imagesSrc && item.imagesSrc.length) { %><img src="<%= item.imagesSrc[0] %>" alt=""><% } %>
        <a href="<%= item.url %>" target="_self"><%= item.title %></a>
        <% if (item.price) { %><%- Common.thousandSeparator(item.price) %> ₽<% } %>
        <% }) %>
    </section>
    <% } %>

    <% if (item.location.placemarker && item.location.placemarker.lat && item.location.placemarker.lng) { %>
    <section id="item-map">
        <div class="item-map">
            <div class="placemarker-caption wrap">Местоположение на карте:
                <% if (item.location.placemarker.caption) { %>
                <%- item.location.placemarker.caption %>
                <% } %>
            </div>
            <div class="map-wrapper"
                 ng-init="$ctrl.placemarkerCoordinates = [<%= item.location.placemarker.lat %>, <%= item.location.placemarker.lng %>]">

                <ya-map ya-zoom="15"
                        ya-controls="zoomControl fullscreenControl"
                        ya-behaviors="drag scrollZoom=false"
                        ya-center="{{[<%= item.location.placemarker.lat %>, <%= item.location.placemarker.lng %> ]}}">
                    <ya-geo-object ya-source="$ctrl.geoObject"></ya-geo-object>
                </ya-map>

            </div>
        </div>
    </section>
    <% } %>

    <% if(items && items.length) { %>
    <section id="item-similar" class="wrap">
        <div class="item-similar">
            <h2>Похожие объявления</h2>
            <card-list></card-list>
        </div>
    </section>
    <% } %>

</div>


