<form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.login(user) : null" novalidate>
    <div layout="column">
        <md-input-container>
            <label>Email</label>
            <input ng-model="$ctrl.user.email" name="email" type="email" required>
            <div ng-messages="form.email.$error">
                <div ng-message="required">Это поле обязательное</div>
                <div ng-message="email">Значение поля должно быть действительным Email</div>
            </div>
        </md-input-container>
    </div>
    <div layout="column">
        <md-input-container>
            <label>Пароль</label>
            <input ng-model="$ctrl.user.password" name="password" type="{{$ctrl.passwordInputType}}" required>
            <i class="material-icons show-password" title="Показать пароль" ng-class="{'do-show-pass': $ctrl.passwordInputType === 'text'}" ng-click="$ctrl.changeInputPassType()">&#xE417;</i>
            <div ng-messages="form.password.$error">
                <div ng-message="required">Это поле обязательное</div>
            </div>
        </md-input-container>
    </div>
    <div layout="column">
        <a ng-if="!$ctrl.showComponent" href="/reset/password" target="_self">Забыли пароль?</a>
        <span ng-if="$ctrl.showComponent" ng-click="$ctrl.showComponent = 'reset-password'" class="pseudo-link">Забыли пароль?</span>
    </div>
    <div layout="column">
        <md-input-container class="social-login">
            <div>Вход при помощи соцсетей:</div>
            <ul class="social">
                <li class="facebook"><a ng-href="/auth/facebook{{ $ctrl.loginRedir ? '?redir=' + $ctrl.loginRedir : ''}}" target="_self"></a></li><!--
        --><li class="google"><a href="/auth/google{{ $ctrl.loginRedir ? '?redir=' + $ctrl.loginRedir : ''}}" target="_self"></a></li><!--
        --><li class="vkontakte"><a href="/auth/vkontakte{{ $ctrl.loginRedir ? '?redir=' + $ctrl.loginRedir : ''}}" target="_self"></a></li><!--
        --><li class="odnoklassniki"><a href="/auth/odnoklassniki{{ $ctrl.loginRedir ? '?redir=' + $ctrl.loginRedir : ''}}" target="_self"></a></li><!--
        <li class="instagram"><a href="/auth/instagram" target="_self"></a></li>-->
            </ul>
        </md-input-container>
    </div>
    <div layout="column">
        <md-input-container>
            <md-checkbox ng-model="$ctrl.user.remember" ng-init="$ctrl.user.remember = true">
                Запомнить
            </md-checkbox>
        </md-input-container>
    </div>
    <div layout="column" class="error-box" ng-show="$ctrl.wrongCredentials">
        Неправильный Email или пароль
    </div>
    <div layout="row" layout-xs="column" ng-init="text = 'Регистрация'">
        <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading" class="md-raised" flex type="submit">Вход</md-button>

        <md-button ng-hide="$ctrl.showComponent" class="md-raised md-primary" href="/signup" target="_self" flex>{{text}}</md-button>

        <md-button ng-show="$ctrl.showComponent" class="md-raised md-primary" ng-click="$ctrl.showComponent = 'signup'" flex>{{text}}</md-button>
    </div>

</form>
