<div class="agreement wrap">

    <h1 class="page-head">Соглашение об использовании вебсайта &quot;Multiboard.ru - объявления России&quot;</h1>

    <h2>Общие положения</h2>

    <p>
        Каждый пользователь вебсайта Multiboard.ru (далее Вебсайт) принимает данное
        Соглашение (далее по тексту Соглашение) об использовании данного вебсайта, суть которого изложена ниже.
    </p>

    <p>
       Соглашение может быть изменено создателями Вебсайта в любой момент. Использовать Вебсайт можно
       только в случае согласия с Соглашением. В случае несогласия с Соглашением пользователь обязуется немедленно
       прекратить его использование и закрыть веб страницу(-ы) Вебсайта.
    </p>
    <p>
        Вебсайт создан в целях общения и публикации объявлений частного характера. Объявления должны
        публиковаться исключительно в соответствии с Правилами публикации и не противоречить им. Пользователь
        самостоятельно несет ответственность за последствия публикации объявления и за его содержание.
        Вебсайт вправе изменить публикуемые объявления, например для исправления ошибок или опечаток, не изменяя
        суть публикуемых объявлений, при этом оставляет за собой право отказать в публикации любых объявлений
        без объяснения причин.
    </p>
    <p>
        Вебсайт предназначен для аудитории 16 лет и старше (16+).
    </p>
    <p>
        Вебсайт охраняется действующим законодательством, затрагивающим интеллектуальную собственность и защищен
        законом об авторском праве.
    </p>
    <p>
        Информация, размещенная на Вебсайте, принадлежит Вебсайту и пользователю, предоставившему эту информацию.
        Данная информация и все части Вебсайта охраняются законом об авторском правом. Все без исключения элементы и материалы Вебсайта,
        включая текст, графику, файлы изображений, дизайн и его компоненты не могут быть скопированы,
        опубликованы в других источниках, распространены вне Вебсайта и использованы без согласия владельцев Вебсайта.
    </p>
    <p>
        В случае предоставления пользователем неверных контактных данных о себе и/или использования сайта под
        чужим либо вымышленным именем, Вебсайт имеет право передать всю имеющуюся информацию о таком пользователе
        (в том числе и IP адрес(-а) данного пользователя) потерпевшей стороне или ее представителям.
    </p>

    <h2>Конфиденциальность и предоставление информации</h2>
    <p>
        Предоставляя Вебсайту информацию в виде объявлений, Вы соглашаетесь на ее использование пользователями
        Вебсайта. Вебсайт передает информацию с обязательным соблюдением конфиденциальности. Переданная Вебсайту
        информация хранится в наших базах данных. Офис Вебсайта располагается в России. Информация, хранящаяся в наших
        базах данных: электронный адрес и прочие контактные данные, которые предоставляют пользователи сайта (в том числе IP адреса).
    </p>
    <p>
        Вебсайт имеет право использовать предоставленную пользователями информацию в целях обеспечения
        бесперебойной работы систем Вебсайта, а также для его защиты.
    </p>

    <h2>Использование полученных данных</h2>

    <p>Хранящаяся в наших базах данных информация используются в целях:</p>
    <ul>
        <li>Обеспечения работы и соблюдения безопасности Вебсайта</li>
        <li>Урегулирования спорных ситуаций</li>
        <li>Информирования пользователей о появлении новых услуг</li>
        <li>Определения заинтересованности пользователей в данных услугах</li>
        <li>Предоставления информации о различных акциях и специальных предложениях</li>
        <li>При использовании информации в прочих целях, Вебсайт дополнительно информирует пользователя</li>
    </ul>

    <h2>Неразглашение информации</h2>
    <p>
        Вебсайт не занимается продажей частной информации, а также не предоставляет ее во временное
        пользование третьим лицам. Вебсайт оставляет за собой право опубликования частной информации в случае защиты прав
        пользователей, а также их безопасности. Также информация может быть опубликована в случае, если она ущемляет
        права других лиц, в соответствии с действующим законодательством и внутренними правилами Вебсайта.
    </p>
    <p>
        Информация может быть предоставлена следующим лицам: сотрудникам организаций, выявляющих незаконное поведение
        или предотвращающих его, а также лицам, содействующим в этом вопросе; лицам, предоставляющим услуги, помогающие
        в осуществлении деловых операций.
    </p>

    <h2>Использование информации, полученной на Вебсайте</h2>

    <p>
        Полученную посредством Вебсайта частную информацию пользователь может использовать только в целях связи с
        человеком, поместившим объявление на Вебсайт. Пользователь не имеет права осуществлять массовые рассылки (спам)
        на полученные через Вебсайт электронные адреса, номера телефонов, и контактные данные предоставленные Вебсайтом.
        Запрещается использовать частную информацию в личных целях, без согласия собственника.
    </p>

    <h2>Безопасность и сохранность данных</h2>
    <p>
        Вебсайт относится с огромной ответственностью к защите любой информации от ее разглашения или
        неправомерного использования. Защита информации это приоритетная задача Вебсайта. Тем не менее,
        Вебсайт не может дать стопроцентную гарантию сохранности и безопасности Вашей информации, угроза потери или утечки
        которой может наступить в следствии хакерских атак, технических сбоев, стихийных бедствий и других форсмажорных обстоятельств.
    </p>

    <h2>Ограничение ответственности</h2>

    <p>
        Вся информация на Вебсайте размещается в ознакомительных целях. Вебсайт не гарантирует
        достоверность и точность размещенной информации, и не несет ответственности за не соответствующую
        действительности информацию, если нет возможности подтвердить ее достоверность.
    </p>
    <p>
        Вебсайт не берет на себя ответственность за размещение пользователями информации дискредитирующего,
        угрожающего, оскорбительного или незаконного характера. В том числе Вебсайт не принимает ответственность
        за размещение информации, нарушающей чьи-либо права, или информации, поощряющей или провоцирующей кого-либо на
        противозаконные действия (которые могут привести к уголовной, административной или иной ответственности).
    </p>
    <p>
        Вебсайт не берет на себя ответственность за возникновение убытков или потери прибыли, в связи с
        работой сайта или использованием его содержания, в том числе в случае потери данных или незаконного размещения
        информации.
    </p>
    <p>
        Вебсайт не принимает на себя ответственности за неточности или опечатки на страницах сайта, а
        также за несвоевременное обновление содержания страниц.
    </p>
    <p>
        Вебсайт не несет ответственность за размещенную на его страницах устаревшую информацию, и частоту ее обновления.
    </p>
    <p>
        Вебсайт не несет ответственности за ссылки размещенные на своих страницах, которые ведут на другие вебсайты и
        прочие ресурсы сети Интернет, содержание, характер и законность информации на этих ресурсах, а также не несет
        ответственности за нарушение авторских прав собственников данных вебсайтов и ресурсов.
    </p>
    <p>
        Вебсайт не несет ответственности за любые ошибки и неполадки в работе, и не гарантирует их устранение.
        Вебсайт не может гарантировать отсутствие вирусов и прочих деструктивных элементов в файлах и
        страницах сайта, которые могут появится в следствии хакерских атак и других действий злоумышленников.
        Пользователь самостоятельно несет ответственность за осуществление процессов, а также контролирует их в
        соответствии с собственными требованиями безопасности. Кроме того, пользователь сам должен контролировать
        наличие и работоспособность средств для восстановления утерянной информации.
    </p>

    <h2>Обязанности пользователя Вебсайта</h2>
    <p>
        Не размещать на сайте информацию дискредитирующего, угрожающего, оскорбительного или незаконного характера,
        нарушающую чьи-либо права или посягающую на них, в том числе материалы, которые могут поощрять или провоцировать
        кого-либо на незаконные действия (которые могут привести к уголовной, административной или иной
        ответственности).
    </p>
    <p>
        Не размещать информацию, охраняемую действующим законодательством, затрагивающим интеллектуальную собственность
        (авторским правом, торговой маркой и пр.), а также использовать информацию без получения согласия от ее
        собственника (или его представителя).
    </p>
    <p>
        Не размещать и не передавать материалы, включающие в себя вирусы или иные деструктивные элементы.
    </p>
    <p>
        Не размещать файлы и прочие элементы, осознавая или предполагая, что данное действие является незаконным.
    </p>
    <p>
        Не применять автоматические программы для доступа на сайт или размещения объявления на нем.
    </p>
    <p>
        Не совершать действия, которые могут повлечь за собой нарушения в работе Вебсайта и его систем.
    </p>
    <p>
        Не отправлять информацию пользователям сайта в виде массовых рассылок (спама).
    </p>

    <h2>Доступ к Сайту</h2>

    <p>
        В случае нарушения пользователем данного Соглашения, Вебсайт имеет право ограничить его доступ.
        В особых случаях, Вебсайт может принять меры для того, чтобы остановить вредоносные действия пользователя, в
        том числе удалить все объявления данного пользователя с сайта, а также передать внеточностисе его контактные и
        персональные данные пострадавшей стороне или ее представителю (в том числе правоохранительным органам).
    </p>

    <h2>Сообщения</h2>

    <p>
        При регистрации в системе Вебсайта пользователь оставляет свой электронный адрес. На этот адрес
        Вебсайт может отправлять системные сообщения, относящиеся к объявлениям пользователя, а также новости и
        уведомления об обновлении Вебсайта и его систем. Если пользователь не желает получать все или часть подобных сообщений
        он может настроить параметры рассылки в личном кабинете.
    </p>

    <p>
        Конфиденциальность контактных данных пользователей сохраняется до тех пор, пока пользователь не нарушит данное
        Соглашение. В случае нарушения данного Соглашения, Вебсайт может передать все контактные и
        персональные данные нарушителя пострадавшей стороне или ее представителю (в том числе правоохранительным
        органам).
    </p>

    <h2>Не является публичной офертой</h2>

    <p>
        Обращаем Ваше внимание на то, что Вебсайт носит исключительно информационный характер и ни при
        каких условиях информационные материалы и цены, размещенные на сайте, не являются публичной офертой,
        определяемой положениями Статьи 437 Гражданского кодекса РФ.
    </p>

    <h2>О Соглашении</h2>
    <p>
        Вебсайт имеет право изменять данное Соглашение в любое время. Соглашение вступает в силу сразу же
        после изменения. Если Вебсайт или его представители будут участвовать в слиянии или поглощении компаний,
        то частная информация пользователей станет доступной другой компании. Эта компания также имеет права передать
        персональную информацию пользователей в случае слияния с третьей компанией. Частная информация пользователей
        в обязательном порядке подлежит надежной охране и обеспечивается безопасностью в соответствии с вышеизложенным Соглашением.
    </p>
</div>
