<div ng-hide="$ctrl.updateSuccess">
    <form name="form" ng-submit="trySubmit = true; !form.$invalid ? $ctrl.update($ctrl.model) : null" novalidate>
        <div layout="row" layout-align="center center">
            <div layout="column" flex-sm="50" flex="30" flex-xs="100" layout-fill>

                <md-input-container>
                    <label>Новый пароль</label>
                    <input ng-model="$ctrl.model.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{1,}$/"
                           name="password" type="password" minlength="5" maxlength="100"
                           equals="{{$ctrl.model.retypePassword}}"
                           required>
                    <div ng-messages="form.password.$error">
                        <div ng-message="required">Это обязательное поле</div>
                        <!--<div ng-message="equals">The password must match with the retype password</div>-->
                        <div ng-message="pattern">Пароль должен быть не менее 5 символов и содержать буквы и цифры, и начинаться с буквы
                        </div>
                    </div>
                    <ic-password-strength value="$ctrl.model.password"></ic-password-strength>
                </md-input-container>

                <md-input-container>
                    <label>Повтор пароля</label>
                    <input ng-model="$ctrl.model.retypePassword"
                           type="password" name="retypePassword"
                           ng-model-options="{updateOn: 'blur', debounce: {blur: 0} }"
                           equals="{{$ctrl.model.password}}" required>
                    <div ng-messages="form.password.$error">
                        <div ng-message="required">Это обязательное поле</div>
                        <div ng-message="equals">Неверный повтор пароля</div>
                    </div>
                </md-input-container>

                <div class="error-box" ng-show="$ctrl.serverError">
                    {{$ctrl.serverError}}
                </div>

                <div layout="row" layout-xs="column">
                    <md-button ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading" class="md-raised" flex="50" flex-xs="100"
                               type="submit">Изменить пароль
                    </md-button>
                </div>
            </div>
        </div>
    </form>
</div>
<div ng-show="$ctrl.updateSuccess">
    <p>Ваш пароль был успешно изменен.</p>
    <md-button ng-hide="$ctrl.showComponent" target="_self" href="/login" class="md-raised">Перейти на страницу логина</md-button>
    <md-button ng-show="$ctrl.showComponent" ng-click="$ctrl.showComponent = 'login'" class="md-raised">Войти в систему</md-button>
</div>
