@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

breadcrumbs
  ul
    margin-bottom: 1rem
    font-size: 0.9rem
    li
      display: inline
      &:after
        font-family: "Material Icons"
        content: '\E315'
        font-size: 0.8rem
        vertical-align: middle
      &:last-child:after
        content: ''

