@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

yamap-common

  ya-map
    display: block
    width: 100%
    height: 500px

  .map-wrapper
    border: 1px solid rgb(216, 211, 190)

  .marker-info
    .material-icons
      color: royalblue
    background-color: rgb(240, 240, 244)
    border-bottom: 1px solid rgb(216, 211, 190)
    color: #3c3c3c
    font-size: 0.8rem
    padding: 0.4rem

.baloon-content
  font-family: 'Cuprum', sans-serif
  font-size: 0.75rem
  line-height: 0.8rem
  display: table
  .wrapper
    display: table-row
    .content, .photo
      display: table-cell
      vertical-align: top
    .content
      padding-left: 0.3rem
      a
        font-size: 0.85rem

    .address
      margin-top: 0.2rem
      color: #668fb6
    .price
      white-space: nowrap
      margin-bottom: 0.2rem
      font-weight: bold
    .photo
      img
        max-width: 70px
        max-height: 50px

