<div class="map-wrapper">
    <div ng-show="$ctrl.markerInfo" class="marker-info">
        <div layout="row" layout-align="start center">
            <div flex>
                <span class="pseudo-link border-dashed" ng-click="$ctrl.returnToMarker()">
                    <i class="material-icons">&#xE55C;</i>
                    {{$ctrl.markerInfo}}
                </span>
            </div>
            <div class="remove-placemark">
                <md-button ng-click="$ctrl.removePlacemark()" class="md-raised">Удалить метку</md-button>
            </div>
        </div>
    </div>
    <ya-map ya-zoom="{{$ctrl.zoom}}"
            ya-controls="zoomControl fullscreenControl"
            ya-center="{{$ctrl.mapCenter}}"
            ya-after-init="$ctrl.afterMapInit($target)"
            ya-event-click="$ctrl.mapClick($event)"
            ya-behaviors="default scrollZoom">
    </ya-map>
</div>


