<form name="filesForm" novalidate>
    <div ngf-drop="$ctrl.upload(filesForm.$valid, $files)"
         ng-model="files"
         ngf-drag-over-class="'dragover'"
         ngf-multiple="false"
         ngf-max-files="1"
         ngf-pattern="'image/*'"
         ngf-accept="'image/*'"
         ngf-max-size="5MB"
         class="avatar-upload">
        <div class="inner" ng-switch="$ctrl.mode">

            <div class="add" ng-switch-when="0">
                <md-button ngf-select="$ctrl.upload(filesForm.$valid, $files)"
                           ng-model="files"
                           ngf-multiple="false"
                           ngf-pattern="'image/*'"
                           ngf-accept="'image/*'"
                           ngf-max-files="1"
                           ngf-max-size="5MB"
                           class="md-raised">Выберите фото
                </md-button>
                <div>или перетащите в эту область</div>
            </div>

            <div class="loading" ng-switch-when="1">
                <div ng-show="$ctrl.progress == 100" class="processing">Обработка...</div>
                <i ng-show="$ctrl.progress < 100" class="material-icons"
                   ng-click="$ctrl.cancelUploading()">clear</i>
                <md-progress-circular class="md-hue-1" value="{{$ctrl.progress}}"
                                      md-diameter="160"></md-progress-circular>
            </div>

            <div class="loading" ng-switch-when="2">
                <div class="cropArea">
                    <img-crop image="$ctrl.avatarSrc" result-image="$ctrl.avatarCropped"></img-crop>
                </div>
                <div><a href="#" target="_self" ng-click="$ctrl.resetUpload()">Загрузить другое фото</a></div>
            </div>

        </div>
    </div>
</form>
