@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

$padding: 0.6rem
$width: 23rem
$height: 15rem
$borderSize: 3px

@mixin sizeOfDropBox()
  .avatar-upload
    +size($width $height)
    .inner
      padding: $padding
    .cropArea
      +size(($width - $padding * 2) ($height - $padding * 2))

+sizeOfDropBox()

.avatar-upload
  transition: background-color ease 0.4s
  outline: $borderSize dashed silver
  display: table
  .inner
    position: relative
    display: table-cell
    text-align: center
    vertical-align: middle
    .processing
      +position(absolute, 50% null null 50%)
      transform: translateX(-50%) translateY(-50%)
    .material-icons
      transition: opacity ease-out 0.3s
      +position(absolute, 50% null null 50%)
      transform: translateX(-50%) translateY(-50%)
      font-size: 2rem
      color: #b40000
      opacity: 0.2
      z-index: 10
      cursor: pointer
      &:hover
        opacity: 1
  .drop-box.dragover
    background-color: #cecece
    border: $borderSize dashed #aaaaaa
  md-progress-circular
    margin: 0 auto
  .cropArea
    background: #E4E4E4
    overflow: hidden

// define variables for the small view

$padding: 0.4rem
$width: 12rem
$height: 12rem
$borderSize: 3px

.xs-view
  +sizeOfDropBox()
