@import '../../../app/cssmodules/bourbon/bourbon'
@import '../../../app/cssmodules/vars'

chart-stat
  .periods, .controls
    margin-bottom: 0.4rem
    font-size: 0.7rem
    color: lighten(black, 25%)
    >span
      display: inline-block
      margin-right: 0.5rem
      &:last-child
        margin-right: 0
  .controls
    text-align: right
    >span
      +user-select(none)
      &.active
        border-bottom: 2px solid #afbcc8
  .container
    height: 270px
    @media (max-width: $layout-breakpoint-sm - 1)
      height: 170px
