<div>
    <div layout="row">
        <div class="periods" flex>
            <span>Сегодня: {{$ctrl.today}}</span>
            <span>Вчера: {{$ctrl.yesterday}}</span>
            <span>{{$ctrl.period}}</span>
        </div>
        <div class="controls" flex ng-init="active = 0">
            <span class="pseudo-link" ng-class="{active: active == 0}" ng-click="$ctrl.getStat(7);active=0">7 дней</span>
            <span class="pseudo-link" ng-class="{active: active == 1}" ng-click="$ctrl.getStat(14);active=1">14 дней</span>
            <span class="pseudo-link" ng-class="{active: active == 2}" ng-click="$ctrl.getStat(30);active=2">30 дней</span>
        </div>

    </div>
    <div class="container">
        <canvas class="chart chart-line"
                chart-data="$ctrl.data"
                chart-dataset-override="{
                    fill: false,
                    lineTension: 0.4,
                    borderColor: 'rgba(58, 108, 150, 0.3)',
                    borderWidth: 4,
                    pointBorderWidth: 2}"
                chart-labels="$ctrl.labels"
                chart-options="{
                    scales: {
                        yAxes: [ {ticks: {beginAtZero: true, scaleSteps: 10, maxTicksLimit: 5} }]}}">
        </canvas>
    </div>
</div>
