.body-overflow-hidden{
	overflow: hidden !important;
}

.ng-image-gallery{
	outline:none;

	*{
		outline:none;
	}

	.ng-image-gallery-thumbnails{
		&:after{
			content: "";
			width:0;
			height:0;
			display: block;
			visibility: hidden;
			clear:both;
		}

		.thumb{
			float:left;
			width:50px;
			height:50px;
			overflow:hidden;
			border-radius:3px;
			background-size:cover;
			background-position:center center;
			cursor: pointer;

			&:not(:last-child){
				margin-right: 5px;
				margin-bottom: 5px;
			}
		}
	}

	.ng-image-gallery-modal{
		position: fixed;
		z-index: 5000;
		top:0;
		right:0;
		bottom:0;
		left:0;
		overflow:hidden;

		// Animate when visible
		transition: opacity 0.3s ease-in-out;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;

		// ngAnimate classes
		&.ng-hide-add{
			opacity : 1;
		}

		&.ng-hide-add-active{
			opacity : 0;
		}

		&.ng-hide-remove{
			opacity : 0;
		}

		&.ng-hide-remove-active{
			opacity : 1;
		}

		// Gallery backdrop view
		.ng-image-gallery-backdrop{
			background-color : rgba(0,0,0,0.85);
			position : absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			z-index: 1;
		}

		// Gallery content view
		.ng-image-gallery-content{
			position : absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			z-index: 2;

			.destroy-icons-container{
				position:absolute;
				right: 10px;
				top:20px;

				.ext-url,
				.close{
					&:hover{
						transition: background-color 0.3s ease-in-out;
						background-color: rgba(255,255,255,0.1);
					}

					&:before{
						content : "";
						display: block;
						position: absolute;
						top : 5px;
						right: 5px;
						bottom:5px;
						left:5px;
						background-size:100% 100%;
						background-repeat:no-repeat;
					}

					position: relative;
					display: inline-block;
					width:30px;
					height:30px;
					overflow: hidden;
					cursor: pointer;
					text-decoration: none;
					color:#fff;
					vertical-align: bottom;
				}

				.ext-url:before{
                    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3C!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 591.6 591.6' style='enable-background:new 0 0 591.6 591.6;' xml:space='preserve' width='512px' height='512px'%3E%3Cg%3E%3Cg%3E%3Cpath d='M581.4,204c-5.712,0-10.2,4.488-10.2,10.2v326.4c0,16.932-13.668,30.6-30.6,30.6H51c-16.932,0-30.6-13.668-30.6-30.6V51 c0-16.932,13.668-30.6,30.6-30.6h326.4c5.712,0,10.2-4.488,10.2-10.2S383.112,0,377.4,0H51C22.848,0,0,22.848,0,51v489.6 c0,28.152,22.848,51,51,51h489.6c28.152,0,51-22.848,51-51V214.2C591.6,208.692,586.908,204,581.4,204z' fill='%23FFFFFF'/%3E%3Cpath d='M591.396,8.16c0-0.204-0.204-0.612-0.204-0.816c0-0.408-0.204-0.612-0.408-1.02c-0.204-0.408-0.408-0.612-0.612-1.02 c-0.204-0.204-0.204-0.612-0.408-0.816c-0.816-1.02-1.632-2.04-2.856-2.856c-0.204-0.204-0.612-0.204-0.816-0.408 c-0.408-0.204-0.612-0.408-1.02-0.612c-0.408-0.204-0.612-0.204-1.02-0.408c-0.204,0-0.612-0.204-0.816-0.204 c-0.612,0.204-1.224,0-1.836,0l0,0H438.6c-5.712,0-10.2,4.488-10.2,10.2s4.488,10.2,10.2,10.2h118.116l-370.26,370.26 c-4.08,4.08-4.08,10.404,0,14.484c2.04,2.04,4.692,3.06,7.14,3.06c2.448,0,5.304-1.02,7.14-3.06L571.2,34.884V153 c0,5.712,4.488,10.2,10.2,10.2s10.2-4.488,10.2-10.2V10.2C591.6,9.588,591.396,8.976,591.396,8.16z' fill='%23FFFFFF'/%3E%3Cpath d='M51,45.9c-2.856,0-5.1,2.244-5.1,5.1v142.8c0,2.856,2.244,5.1,5.1,5.1s5.1-2.244,5.1-5.1V56.1h137.7 c2.856,0,5.1-2.244,5.1-5.1s-2.244-5.1-5.1-5.1H51z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
				}

				.close:before{
                    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='512px' version='1.1' height='512px' viewBox='0 0 64 64' enable-background='new 0 0 64 64'%3E%3Cg%3E%3Cpath fill='%23FFFFFF' d='M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59 c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59 c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0 L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z'/%3E%3C/g%3E%3C/svg%3E");
                }
			}


			.prev,
			.next{
				position:absolute;
				top: 50%;
				margin-top:-25px;

				width:50px;
				height:50px;
				background-size:100% 100%;
				background-repeat:no-repeat;
				overflow: hidden;
				cursor: pointer;

				&.bubbles-on{
					top:calc((100% - 50px) / 2);
				}

				@media screen and (max-width:600px){
					margin-top:-15px;
					width:30px;
					height:30px;
				}
			}

			.prev{
				left: 0px;
                background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 477.175 477.175' style='enable-background:new 0 0 477.175 477.175;' xml:space='preserve' width='512px' height='512px'%3E%3Cg%3E%3Cpath d='M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225 c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z' fill='%23FFFFFF'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
            }

			.next{
				right: 0px;
                background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 477.175 477.175' style='enable-background:new 0 0 477.175 477.175;' xml:space='preserve' width='512px' height='512px'%3E%3Cg%3E%3Cpath d='M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5 c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z ' fill='%23FFFFFF'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
			}

			.galleria{
				position:absolute;
				top:0;
				bottom:0;
				left:80px;
				right:80px;
				overflow: hidden;
				display:flex;
				flex-direction: column;
				align-items: center;

                .description {
                    color: white;
                    font-size: 1.2rem;
                    margin-top: 0.5rem
                }

				.galleria-images{
					position: relative;
					flex: 1;
					width: 100%;


					.galleria-image{
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
						max-width: 100%;
						max-height: 100%;

						// Animate when visible
						backface-visibility: hidden;
						-webkit-backface-visibility: hidden;

						// Prevent user selection and highlighting
						-webkit-touch-callout: none;
						-webkit-user-select: none;
						-khtml-user-select: none;
						-moz-user-select: none;
						-ms-user-select: none;
						user-select: none;
					}

					/*****************************************************/

					// image fade animation
					&.img-anim-fade{
						.galleria-image{
							&.ng-enter{
								transition: opacity 0.3s ease-in-out;
								opacity : 0;
							}
							&.ng-enter-active{
								opacity : 1;
							}
							&.ng-leave-active{
								opacity : 0;
							}
						}
					}

					// image fadeup animation
					&.img-anim-fadeup{
						.galleria-image{
							&.ng-enter{
								transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
								opacity : 0;
								transform: scale(0.98);
							}
							&.ng-enter-active{
								opacity : 1;
								transform: scale(1);
							}
							&.ng-leave-active{
								opacity : 0;
							}
						}
					}

					// image zoom animation
					&.img-anim-zoom{
						.galleria-image{
							&.ng-enter{
								transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
								opacity : 0;
								transform: scale(0);
							}
							&.ng-enter-active{
								opacity : 1;
								transform: scale(1);
							}
							&.ng-leave{
								transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
							}
							&.ng-leave-active{
								opacity : 0;
								transform: scale(0);
							}
						}
					}

					// image slide animation
					&.img-anim-slide{
						&.img-move-dir-backward{
							.galleria-image{
								&.ng-enter{
									transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
									transform: translateX(-100%);
									opacity : 0;
								}
								&.ng-enter-active{
									transform: translateX(0px);
									opacity : 1;
								}
								&.ng-leave{
									transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
								}
								&.ng-leave-active{
									opacity : 0;
									transform: translateX(100%);
								}
							}
						}
						&.img-move-dir-forward{
							.galleria-image{
								&.ng-enter{
									transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
									transform: translateX(100%);
									opacity : 0;
								}
								&.ng-enter-active{
									transform: translateX(0px);
									opacity : 1;
								}
								&.ng-leave{
									transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
								}
								&.ng-leave-active{
									opacity : 0;
									transform: translateX(-100%);
								}
							}
						}
					}

					// image pop animation
					&.img-anim-pop{
						&.img-move-dir-backward{
							.galleria-image{
								&.ng-enter{
									transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
									transform: translateX(-100%) scale(0,0);
									opacity : 0;
								}
								&.ng-enter-active{
									transform: translateX(0px) scale(1,1);
									opacity : 1;
								}
								&.ng-leave{
									transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
								}
								&.ng-leave-active{
									opacity : 0;
									transform: translateX(100%) scale(0,0);
								}
							}
						}
						&.img-move-dir-forward{
							.galleria-image{
								&.ng-enter{
									transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
									transform: translateX(100%) scale(0,0);
									opacity : 0;
								}
								&.ng-enter-active{
									transform: translateX(0px) scale(1,1);
									opacity : 1;
								}
								&.ng-leave{
									transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
								}
								&.ng-leave-active{
									opacity : 0;
									transform: translateX(-100%) scale(0,0);
								}
							}
						}
					}

					// image revolve animation
					&.img-anim-revolve{
						&.img-move-dir-forward{
							.galleria-image{
								&.ng-enter{
									animation: revolve-in-forward;
									animation-duration: 0.3s;
								}
								&.ng-leave{
									animation: revolve-out-forward;
									animation-duration: 0.3s;
								}
							}
						}
						&.img-move-dir-backward{
							.galleria-image{
								&.ng-enter{
									animation: revolve-in-backward;
									animation-duration: 0.3s;
								}
								&.ng-leave{
									animation: revolve-out-backward;
									animation-duration: 0.3s;
								}
							}
						}
					}

					/*****************************************************/
				}

				.galleria-bubbles{
					flex: 0 0 50px;
					text-align: center;
					overflow:hidden;

					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					align-content: center;
					flex-wrap: wrap;

					span{
						flex: none;
						position:relative;
						display: inline-block;
						margin:2px 4px;
						cursor: pointer;
						overflow: hidden;
						border-radius: 100%;
						background-size: cover;
						background-position: center center;
						vertical-align: middle;

						&:not(.img-bubble){
							width:12px;
							height:12px;
							background-color : rgba(255,255,255,0.5);
							border-radius:100%;
							overflow: hidden;
							transition: all 0.3s ease-in-out;

							&.active{
								background-color : #fff;
							}
						}

						&.img-bubble{
							box-sizing:border-box;
							width:12px;
							height:12px;
							margin:2px 4px;
							border:1px solid transparent;
							transition: border 0.3s ease-in-out;

							&.active{
								border:1px solid #fff;
							}
						}
					}
				}
			}
		}


		// Image loading animation view
		.ng-image-gallery-loader{
			position : absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			z-index: 3;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			// Spinner from http://tobiasahlin.com/spinkit/
			.spinner{
				flex:none;
				width: 50px;
				height: 50px;
				text-align: center;
				font-size: 10px;

				>div{
					background-color: #fff;
					height: 100%;
					width: 7px;
					margin: 0 3px 0 0;
					display: inline-block;

					-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
					animation: sk-stretchdelay 1.2s infinite ease-in-out;
				}

				.rect2{
					-webkit-animation-delay: -1.1s;
					animation-delay: -1.1s;
				}

				.rect3{
					-webkit-animation-delay: -1.0s;
					animation-delay: -1.0s;
				}

				.rect4{
					-webkit-animation-delay: -0.9s;
					animation-delay: -0.9s;
				}

				.rect5{
					-webkit-animation-delay: -0.8s;
					animation-delay: -0.8s;
				}
			}

		}
	}


	/*****************************************************************
								INLINE GALLERY
	/*****************************************************************/
	&.inline{

		// Convert modal to inline dic
		.ng-image-gallery-modal{
			position: relative;
			z-index: 1;
			overflow:hidden;
			width:100%;
			height:300px;

			.ng-image-gallery-content{
				.destroy-icons-container{
					top:0;

					.ext-url{
						margin:0;

						&:before{
                            background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23999999' d='M503.173,176.552c-4.944,0-8.828,3.884-8.828,8.828v282.483c0,14.653-11.829,26.482-26.482,26.482H44.138 c-14.653,0-26.482-11.829-26.482-26.482V44.138c0-14.653,11.829-26.482,26.482-26.482h282.483c4.943,0,8.827-3.884,8.827-8.828 S331.564,0,326.621,0H44.138C19.774,0,0,19.774,0,44.138v423.725C0,492.227,19.774,512,44.138,512h423.725 C492.227,512,512,492.227,512,467.862V185.379C512,180.612,507.939,176.552,503.173,176.552z'/%3E%3Cpath fill='%23999999' d='M511.823,7.062c0-0.176-0.177-0.53-0.177-0.706c0-0.353-0.176-0.53-0.353-0.883s-0.354-0.53-0.53-0.883 c-0.176-0.176-0.176-0.53-0.353-0.706c-0.706-0.883-1.412-1.766-2.472-2.472c-0.177-0.177-0.529-0.177-0.706-0.353 c-0.354-0.177-0.53-0.354-0.883-0.53c-0.354-0.177-0.53-0.177-0.883-0.353c-0.177,0-0.53-0.177-0.706-0.177 c-0.53,0.177-1.06,0-1.59,0l0,0H379.586c-4.943,0-8.827,3.884-8.827,8.828s3.884,8.828,8.827,8.828H481.81L161.368,338.097 c-3.531,3.531-3.531,9.004,0,12.535c1.766,1.766,4.061,2.648,6.179,2.648c2.119,0,4.59-0.883,6.18-2.648L494.345,30.19v102.224 c0,4.943,3.884,8.827,8.828,8.827c4.943,0,8.827-3.884,8.827-8.827V8.828C512,8.298,511.823,7.768,511.823,7.062z'/%3E%3Cpath fill='%23999999' d='M44.138,39.724c-2.472,0-4.414,1.942-4.414,4.414v123.586c0,2.472,1.942,4.414,4.414,4.414 c2.472,0,4.414-1.942,4.414-4.414V48.552h119.172c2.472,0,4.414-1.942,4.414-4.414c0-2.472-1.942-4.414-4.414-4.414H44.138z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
						}
					}


				}

				.prev{
                    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23999999' d='M155.784,255.986L387.012,24.759c5.687-5.687,5.687-14.807,0-20.494c-5.688-5.687-14.807-5.687-20.494,0 L124.989,245.793c-5.687,5.687-5.687,14.807,0,20.494l241.528,241.421c2.79,2.79,6.545,4.292,10.193,4.292 s7.403-1.395,10.193-4.292c5.687-5.687,5.687-14.807,0-20.494L155.784,255.986z'/%3E%3C/g%3E%3C/svg%3E");
				}

				.next{
                    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23999999' d='M387.058,245.793L145.53,4.265c-5.687-5.687-14.807-5.687-20.494,0s-5.687,14.807,0,20.494l231.228,231.228 L125.036,487.214c-5.687,5.688-5.687,14.808,0,20.494c2.79,2.79,6.545,4.292,10.193,4.292c3.648,0,7.403-1.395,10.193-4.292 L386.95,266.18C392.637,260.601,392.637,251.373,387.058,245.793z'/%3E%3C/g%3E%3C/svg%3E");
				}

				.prev, .next{
					margin-top: -15px;
					width: 30px;
					height: 30px;
				}

				.galleria{
					.galleria-bubbles{
						span{
							&:not(.img-bubble){
								background-color : rgba(0,0,0,0.5);

								&.active{
									background-color : #333;
								}
							}

							&.img-bubble{
								&.active{
									border:1px solid #000;
								}
							}
						}
					}
				}
			}

			.ng-image-gallery-loader{
				.spinner{
					> div{
						background-color: #999;
					}
				}
			}
		}
	}
}
