<% if (nearByCities && nearByCities.length) { %>
<div>
    <div class="caption">Соседние города</div>
    <div layout="row" layout-xs="column" class="negative-margin" layout-margin>
        <ul>
        <% nearByCities.forEach(function(city, index) { %>
            <li><a href="/<%=city.slug%>" target="_self"><%=city.name%></a></li>
        <% if (Common.groupingCond(5, nearByCities, index)) { %></ul><ul><% }%>
        <% }) %>
        </ul>
    </div>
</div>
<% } %>
