<footer>
    <div layout-align="start center" layout="row">
        <div flex>
            <div class="copyright">MultiBoard.ru ©2005-<%= moment().format('YYYY'); %></div>
        </div>
    </div>
</footer>
