<footer>
    <div layout="row" layout-xs="column" class="negative-margin" layout-margin>
        <div flex>
            <%
            switch ((typeof footer !== 'undefined') && footer)
            {
                case 'find': %><% include footer-find.ejs %><% break;
                default:
            }
            %>
        </div>
        <div>
            <div class="counter"><% include counter.ejs%></div>
            <div class="copyright">MultiBoard.ru ©2005-<%= moment().format('YYYY'); %></div>
            <div class="fs-07 agreement">
                <span class="age">16+</span> <a href="/agreement" target="_self">Соглашение об использовании</a>
            </div>
        </div>
    </div>
</footer>
