<div id="cards-scroll" ng-init="tile = true"></div>

<div ng-show="!$ctrl.cards.length && !$ctrl.firstLoad" style="color: darkred">По вашему запросу ничего не найдено</div>

<div ng-show="$ctrl.cards.length">

    <paging
         ng-show="$ctrl.pagination.total > $ctrl.pagination.limit"
         page="$ctrl.pagination.page"
         adjacent="1"
         page-size="$ctrl.pagination.limit"
         paging-action="$ctrl.getCards(false)"
         total="$ctrl.pagination.total"></paging>

    <div class="panel" layout="row" layout-xs="column" ng-show="$ctrl.cardListHeader">
        <div class="total-count" flex>
            Всего объявлений: {{$ctrl.pagination.total}}<span ng-show="$ctrl.mapPoints.length">, <a href="#map" du-smooth-scroll class="pseudo-link border-dashed" du-scrollspy="map">на карте {{$ctrl.mapPoints.length}}</a></span>
        </div>
        <div class="controls">
            <ul layout="row">
                <li>
                    <md-select md-on-close="$ctrl.doSort()" ng-model="$ctrl.sort" placeholder="Упорядочить" class="md-no-underline">
                        <md-option value="best-match">по релевантности</md-option>
                        <md-option value="date-desc">новые</md-option>
                        <md-option value="date-asc">старые</md-option>
                        <md-option value="price-asc">дешевле</md-option>
                        <md-option value="price-desc">дороже</md-option>
                    </md-select>
                </li>
                <li><i class="material-icons" ng-class="{active: !tile}" ng-click="tile = false">&#xE8EF;</i></li>
                <li><i class="material-icons" ng-class="{active: tile}" ng-click="tile = true">&#xE8F0;</i></li>
            </ul>
        </div>
    </div>

    <div class="cards" ng-class="{loading: $ctrl.loading, tile: tile}">

        <div ng-repeat="card in $ctrl.cards" class="card-container" layout="column">
            <card card-data="card" card-tile="tile" flex></card>
        </div>

    </div>
    <div style="clear: both"></div>

    <paging
        ng-show="$ctrl.pagination.total > $ctrl.pagination.limit"
        page="$ctrl.pagination.page"
        adjacent="1"
        page-size="$ctrl.pagination.limit"
        paging-action="$ctrl.getCards(true)"
        total="$ctrl.pagination.total"></paging>
</div>
