@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

card-list
  //background-color: #f0f0f0
  display: block
  padding-top: 1rem
  padding-bottom: 1rem
  margin-bottom: 1rem

  paging
    display: block
    margin-bottom: 1.5rem
  paging:last-child
    margin-bottom: 0

  .panel
    margin-bottom: 1rem
    .controls
      li
        +user-select(none)
        i
          &.active
            color: #2c578a
          font-size: 1.5rem
          cursor: pointer
          color: darkgray
        &:last-child
          margin-right: 0
        margin-right: 0.7rem
        md-select
          margin: 0
          .md-select-value
            padding: 0
            min-height: inherit

  .cards
    position: relative
    margin: 0 -0.8rem
    margin-bottom: 1rem
    overflow: hidden
    &.loading
      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-color: rgba(255, 255, 255, 0.4)
        margin-left: -1rem
        z-index: 5

    .card-container
      card
        margin: 0 0.9rem 1rem
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.15)

    &.tile
      .card-container
        height: 380px
        width: 25%
        float: left
        @media (max-width: $layout-breakpoint-md - 1)
          width: 33.333333%
        @media (max-width: $layout-breakpoint-sm - 1)
          width: 50%
        @media (max-width: $layout-breakpoint-xs - 1)
          width: 100%
        card
          margin: 0.7rem 1rem

