@import "../vars"
footer
  .caption
    margin-bottom: 0.3rem
    font-size: 0.8rem
  font-size: 0.85rem
  padding: 1rem
  background-color: #181818
  color: #fff
  border-top: 12px solid #c7c7c7
  .counter
    margin-bottom: 0.5rem
  .copyright
    margin-bottom: 0.1rem
  .agreement
    margin-bottom: 0.4rem
  .age
    border-radius: 50%
    padding: 1px
    background-color: silver
    color: #333333
  a
    @extend .light
