@import '../bourbon/bourbon'
@import '../vars'
header
  color: white
  border-bottom: 10px solid transparent
  background: #d2d2d2
  > ul
    overflow: hidden
    box-shadow: 0 3px 13px -1px rgba(0,0,0,0.75)
    display: block
    background: #404040 linear-gradient(-180deg, #424242 44%, #1f1f1f 99%)
    height: 70px
    padding: 0
    margin: 0

  a.logo
    font-size: 0.85rem
    color: white
    position: relative
    +size(270px 70px)
    display: inline-block
    text-decoration: none
    background: url('/images/logo-site.png') no-repeat
    padding: 0
    .slogan
      color: #ffffff
      position: absolute
      top: 42px
      left: 30px
      letter-spacing: 0.6px
  a.logo-mobile
    display: inline-block
    background: url('/images/logo-mobile.png') no-repeat
    +size(90px 70px)
