@import '../bourbon/bourbon'
@import '../vars'
@import '../mixins/index'

.navbar

  .favorites
    margin: 0 0.5rem
    white-space: nowrap
    span
      color: white
      font-size: 1.1rem
      vertical-align: middle
      margin-left: -0.2rem
    .material-icons
      vertical-align: middle
      font-size: 2rem
      color: orange

  @media (max-width: $layout-breakpoint-sm - 1)
    .favorites
      .material-icons
        font-size: 1.6rem
    .favorites
      margin: 0 0.3rem

  .md-button.md-altTheme-theme.md-raised
    background-color: #ead941
    margin-right: 0.5rem
    &:hover
      background-color: orange

  ul
    display: block
    padding: 0
    margin: 0
    white-space: nowrap
    .navbar-item, .navbar-item-user
      display: inline-block
      overflow: hidden
      line-height: 70px
      font-size: 1rem
      border-right: 1px solid rgba(255, 255, 255, 0.1)
      a
        transition: background-color ease-out 0.3s
        position: relative
        color: white
        text-decoration: none
        display: block
        padding: 0 1rem
        @media (max-width: $layout-breakpoint-sm - 1)
          font-size: 0.9rem
          padding: 0 0.4rem
        &.active:after
          content: ''
          left: 0
          bottom: 0
          position: absolute
          +size(100% 3px)
          background-color: orange
        &:hover
          color: white
          background-color: rgba(255, 255, 255, 0.12)

    .navbar-item-user
      .avatar-with-name
        max-width: 10rem
        line-height: 1.2rem
        font-size: 0.9rem
        +user-avatar-name(52px)
        @media (max-width: $layout-breakpoint-sm - 1)
          +user-avatar-name(40px)
          .username
            display: none
