@import '../bourbon/bourbon'
@import '../vars'
.pagination

  font-size: 1.4rem
  @media (max-width: $layout-breakpoint-xs - 1)
    font-size: 1.2rem

  li
    display: inline-block
    //margin-right: 0.5rem
    &.disabled
      a
        color: silver
        cursor: default
    a
      padding: 0.1rem 0.7rem
      @media (max-width: $layout-breakpoint-xs - 1)
        padding: 0.1rem 0.4rem
      //border: 1px solid silver

    &.active
      a
        color: white
        background-color: darkgray
