@import '../bourbon/bourbon'
@import '../vars'

.submenu
  width: 100%
  margin-top: -1rem
  margin-bottom: 1rem
  ul
    background-color: #4b4b4b
    margin: 0
    padding: 0
    li
      a
        color: #ececec
      &:first-child
        padding-left: 1rem
      padding: 0.2rem 0.4rem
      display: inline-block
