trix-toolbar
  .button_group button.active, trix-toolbar .button_group input[type=button].active
    background-color: #e8e8e8 !important
    &:before
      border: 1px solid #dcdcdc !important
  .button_group
    margin-bottom: 3px !important
  .button_row
    justify-content: initial !important
    .button_group
      border: none !important
      border-radius: 0
      button
        &.icon.strike
          &:before
            background-size: 0.78rem !important
            background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg width='120px' height='130px' viewBox='0 0 120 130' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 40.1 (33804) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3ECombined Shape%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M73.01,74.88 C76.6700183,78.6000186 78.5,84.5399592 78.5,92.7 C78.5,100.860041 76.6700183,106.799981 73.01,110.52 C69.3499817,114.240019 63.6800384,116.1 56,116.1 L29,116.1 L29,126 C31.7600138,126.960005 35.5999754,127.799996 40.52,128.52 C45.4400246,129.240004 50.599973,129.6 56,129.6 C72.200081,129.6 83.7499655,126.480031 90.65,120.24 C97.5500345,113.999969 101,104.820061 101,92.7 C101,85.499964 99.0500195,79.0200288 95.15,73.26 C91.2499805,67.4999712 85.700036,63.6000102 78.5,61.56 L78.5,60.84 C83.900027,58.3199874 88.399982,54.8700219 92,50.49 C95.2225822,46.5691917 97.0027838,41.3262935 97.3406437,34.7611757 L116.401314,15.5187142 L119.920028,11.9664402 L112.81548,4.92901183 L109.296766,8.48128582 L95.9843456,21.9206734 C95.6916259,20.9185654 95.3535108,19.9416749 94.97,18.99 C93.3499919,14.9699799 90.8600168,11.5500141 87.5,8.73 C84.1399832,5.9099859 79.8500261,3.7500075 74.63,2.25 C69.4099739,0.7499925 63.200036,0 56,0 C51.4399772,0 46.7900237,0.3599964 42.05,1.08 C37.3099763,1.8000036 33.5600138,2.6399952 30.8,3.6 L30.8,13.5 L54.2,13.5 C61.0400342,13.5 66.1999826,15.1799832 69.68,18.54 C73.1600174,21.9000168 74.9,26.5199706 74.9,32.4 C74.9,38.0661692 73.9154518,42.6621452 71.9463444,46.1879403 L65.9053642,52.2865338 C62.8050549,54.0288476 58.9032696,54.9 54.2,54.9 L41.6,54.9 L41.6,69.3 L49.0526313,69.3 L4.44772601,114.330326 L0.929011827,117.8826 L8.03355981,124.920028 L11.552274,121.367754 L62.5918113,69.8414259 C67.0173554,70.6392374 70.4900665,72.3187561 73.01,74.88 Z' id='Combined-Shape' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
        &.icon.italic
          &:before
            background-size: 0.54rem !important
            background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg width='81px' height='130px' viewBox='0 0 81 130' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 40.1 (33804) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EК%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M43.8,62.66 C45.600009,63.260003 47.399991,64.0699949 49.2,65.09 C51.000009,66.1100051 52.7099919,67.4899913 54.33,69.23 C55.9500081,70.9700087 57.3899937,73.0999874 58.65,75.62 C59.9100063,78.1400126 60.9599958,81.199982 61.8,84.8 L67.2,108.2 C67.800003,110.960014 69.1799892,113.29999 71.34,115.22 C73.5000108,117.14001 76.6199796,118.1 80.7,118.1 L80.7,128 C79.8599958,128.360002 78.7800066,128.659999 77.46,128.9 C75.059988,129.500003 71.9400192,129.8 68.1,129.8 C61.2599658,129.8 56.0700177,128.000018 52.53,124.4 C48.9899823,120.799982 46.3800084,115.400036 44.7,108.2 L39.3,84.8 C37.9799934,78.9199706 36.1800114,74.9000108 33.9,72.74 C31.6199886,70.5799892 28.9200156,69.5 25.8,69.5 L22.2,69.5 L22.2,128 L0.6,128 L0.6,2 L22.2,2 L22.2,55.1 L25.8,55.1 C28.0800114,55.1 30.1799904,54.0200108 32.1,51.86 C34.0200096,49.6999892 35.8199916,45.6800294 37.5,39.8 L42.9,21.8 C45.0600108,14.599964 47.8199832,9.200018 51.18,5.6 C54.5400168,1.999982 59.5799664,0.2 66.3,0.2 C68.3400102,0.2 70.1399922,0.2899991 71.7,0.47 C73.2600078,0.6500009 74.5799946,0.8599988 75.66,1.1 C76.9800066,1.4600018 78.0599958,1.7599988 78.9,2 L78.9,11.9 C74.8199796,11.9 71.7900099,12.7699913 69.81,14.51 C67.8299901,16.2500087 66.3600048,18.6799844 65.4,21.8 L60,39.8 C57.8399892,47.000036 55.5000126,52.1899841 52.98,55.37 C50.4599874,58.5500159 47.400018,60.739994 43.8,61.94 L43.8,62.66 Z' id='К' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
        &.icon.bold
          &:before
            background-size: 0.85rem !important
            background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg width='137px' height='130px' viewBox='0 0 137 130' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 40.1 (33804) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EЖ%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M36.9,61.74 C33.299982,60.539994 30.2400126,58.3500159 27.72,55.17 C25.1999874,51.9899841 22.8600108,46.800036 20.7,39.6 L15.3,21.6 C14.3399952,18.4799844 12.8700099,16.0500087 10.89,14.31 C8.9099901,12.5699913 5.8800204,11.7 1.8,11.7 L1.8,1.8 C2.6400042,1.5599988 3.7199934,1.2600018 5.04,0.9 C6.1200054,0.6599988 7.4399922,0.4500009 9,0.27 C10.5600078,0.0899991 12.3599898,0 14.4,0 C21.1200336,0 26.1599832,1.799982 29.52,5.4 C32.8800168,9.000018 35.6399892,14.399964 37.8,21.6 L43.2,39.6 C44.8800084,45.4800294 46.6799904,49.4999892 48.6,51.66 C50.5200096,53.8200108 52.6199886,54.9 54.9,54.9 L57.6,54.9 L57.6,1.8 L79.2,1.8 L79.2,54.9 L81.9,54.9 C84.1800114,54.9 86.2799904,53.8200108 88.2,51.66 C90.1200096,49.4999892 91.9199916,45.4800294 93.6,39.6 L99,21.6 C101.160011,14.399964 103.919983,9.000018 107.28,5.4 C110.640017,1.799982 115.679966,0 122.4,0 C124.44001,0 126.239992,0.0899991 127.8,0.27 C129.360008,0.4500009 130.679995,0.6599988 131.76,0.9 C133.080007,1.2600018 134.159996,1.5599988 135,1.8 L135,11.7 C130.91998,11.7 127.89001,12.5699913 125.91,14.31 C123.92999,16.0500087 122.460005,18.4799844 121.5,21.6 L116.1,39.6 C113.939989,46.800036 111.600013,51.9899841 109.08,55.17 C106.559987,58.3500159 103.500018,60.539994 99.9,61.74 L99.9,62.46 C101.700009,63.060003 103.499991,63.8699949 105.3,64.89 C107.100009,65.9100051 108.809992,67.2899913 110.43,69.03 C112.050008,70.7700087 113.489994,72.8999874 114.75,75.42 C116.010006,77.9400126 117.059996,80.999982 117.9,84.6 L123.3,108 C123.900003,110.760014 125.279989,113.09999 127.44,115.02 C129.600011,116.94001 132.71998,117.9 136.8,117.9 L136.8,127.8 C135.959996,128.160002 134.880007,128.459999 133.56,128.7 C131.159988,129.300003 128.040019,129.6 124.2,129.6 C117.359966,129.6 112.170018,127.800018 108.63,124.2 C105.089982,120.599982 102.480008,115.200036 100.8,108 L95.4,84.6 C94.0799934,78.7199706 92.2800114,74.7000108 90,72.54 C87.7199886,70.3799892 85.0200156,69.3 81.9,69.3 L79.2,69.3 L79.2,127.8 L57.6,127.8 L57.6,69.3 L54.9,69.3 C51.7799844,69.3 49.0800114,70.3799892 46.8,72.54 C44.5199886,74.7000108 42.7200066,78.7199706 41.4,84.6 L36,108 C34.3199916,115.200036 31.7100177,120.599982 28.17,124.2 C24.6299823,127.800018 19.4400342,129.6 12.6,129.6 C8.7599808,129.6 5.640012,129.300003 3.24,128.7 C1.9199934,128.459999 0.8400042,128.160002 0,127.8 L0,117.9 C4.0800204,117.9 7.1999892,116.94001 9.36,115.02 C11.5200108,113.09999 12.899997,110.760014 13.5,108 L18.9,84.6 C19.7400042,80.999982 20.7899937,77.9400126 22.05,75.42 C23.3100063,72.8999874 24.7499919,70.7700087 26.37,69.03 C27.9900081,67.2899913 29.699991,65.9100051 31.5,64.89 C33.300009,63.8699949 35.099991,63.060003 36.9,62.46 L36.9,61.74 Z' id='Ж' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
        border: none !important
        width: 32px !important
        height: 32px !important
        margin-right: 0.5rem
        &:before
          background-size: 1.1rem !important
trix-editor
  border: 1px solid silver
  border-radius: 0 !important
  ul
    margin: 20px
    li
      padding-left: 1rem
      text-indent: -.7rem
      &:before
        content: "•"
        color: #898989
        padding-right: 0.6rem

trix-toolbar
  .button_row
    display: block !important
  .button_group
    display: inline-block !important

