@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

search-filters
  display: block
  background-color: #eeeeee
  padding: 1rem

  .categories
    li
      &:last-child
        margin-bottom: 0
      margin-bottom: 0.3rem

  .counter
    margin-left: 0.5rem
    color: #9a9a9a
    font-size: 0.9rem
