<ul class="categories" ng-show="$ctrl.subcategories.length">
    <li ng-repeat="sub in $ctrl.subcategories">
        <div layout="row">
            <div flex>
                <span class="pseudo-link" ng-click="$ctrl.setCategory(sub.slug)">{{sub.name}}</span>
            </div>
            <div class="counter">
                {{sub.counts}}
            </div>
        </div>
    </li>
</ul>
