<% if (items.pages > 1 ) { %>

<ul class="pagination">
<% pagination(items.page, items.pages).forEach(function(item) { %>
    <% if (item === '...') { %>
    <li><%=item%></li>
    <% } else { %>
    <li<% if (items.page === item) { %> class="active"<% } %>><a href="<%=Common.replaceUrlParam(originalUrl, 'p', item)%>"<%- items.html5Links ? '' : 'target="_self"'%>><%=item%></a></li>
    <% } %>
<% }) %>
</ul>

<%
}
function pagination(c, m) {
    var current = c,
        last = m,
        delta = 3,
        left = current - delta,
        right = current + delta + 1,
        range = [],
        rangeWithDots = [],
        l;

    for (let i = 1; i <= last; i++) {
        if (i == 1 || i == last || i >= left && i < right) {
            range.push(i);
        }
    }

    for (let i of range) {
        if (l) {
            if (i - l === 2) {
                rangeWithDots.push(l + 1);
            } else if (i - l !== 1) {
                rangeWithDots.push('...');
            }
        }
        rangeWithDots.push(i);
        l = i;
    }

    return rangeWithDots;
}
%>
