<div class="additem">
    <form name="form" ng-submit="trySubmit = true; $ctrl.sendForm(form.$valid)" novalidate>
        <div layout="column" flex-xs="100" flex-sm="100" flex="70" layout-fill>

            <div class="field contacts">
                <h3><i class="material-icons">&#xE0CF;</i> Контактные данные</h3>
                <div layout="column">
                    <md-input-container>
                        <label>Контактное лицо</label>
                        <input ng-model="$ctrl.itemData.contactPerson" name="contactPerson" minlength="2" maxlength="100"
                               required>
                        <div ng-messages="form.contactPerson.$error">
                            <div ng-message="required">Это поле обязательное</div>
                            <div ng-message="minlength">Значение поля слишком короткое</div>
                            <div ng-message="maxlength">Значение поля слишком длинное</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Название компании</label>
                        <input ng-model="$ctrl.itemData.companyName" name="companyName" minlength="2" maxlength="100">
                        <div ng-messages="form.companyName.$error">
                            <div ng-message="required">Это поле обязательное</div>
                            <div ng-message="minlength">Значение поля слишком короткое</div>
                            <div ng-message="maxlength">Значение поля слишком длинное</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Номер телефона</label>
                        <input ng-model="$ctrl.itemData.phone" mask="+9 999 999-99-99" ng-pattern="/\+\d \d\d\d \d\d\d-\d\d-\d\d/" name="phone" required>
                        <div ng-messages="form.phone.$error">
                            <div ng-message="required">Это обязательное поле</div>
                            <div ng-message="pattern">Неверный формат номера телефона</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div class="field">
                <h3><i class="material-icons">&#xE896;</i> Категория</h3>
                <category ng-model="$ctrl.itemData.category" name="category" required></category>
                <div ng-messages="form.$submitted && form.category.$error">
                    <div ng-message="required">Категория объявления - это обязательное поле</div>
                </div>
            </div>

            <div class="field location">
                <h3><i class="material-icons">&#xE7F1;</i> Местоположение</h3>
                <location ng-model="$ctrl.itemData.location" name="location" required></location>
                <div ng-messages="form.$submitted && form.location.$error">
                    <div ng-message="required">Местоположение - это обязательное поле</div>
                </div>
                <div ng-show="$ctrl.itemData.location">
                    <h4>
                        Совет. Чтобы объявление показывалось на картах, поставьте метку. Воспользуйтесь поиском по адресу или найдите нужное место и поставьте метку,
                        кликнув по карте.
                    </h4>
                    <yamap-edit ng-model="$ctrl.itemData.location.placemarker" yamap-edit-location="$ctrl.itemData.location"></yamap-edit>
                </div>
            </div>

            <div class="field content">
                <h3><i class="material-icons">&#xE0D8;</i> Содержание</h3>
                <md-input-container>
                    <label>Название объявления</label>
                    <input ng-model="$ctrl.itemData.title" name="title" type="text" minlength="2" maxlength="100" required>
                    <div ng-messages="form.title.$error">
                        <div ng-message="required">Это поле обязательное</div>
                        <div ng-message="minlength">Значение поля слишком короткое</div>
                        <div ng-message="maxlength">Значение поля слишком длинное</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Цена</label>
                    <input ng-model="$ctrl.itemData.price" name="price" type="text" ng-pattern="/\d+/">
                    <div ng-messages="form.price.$error">
                        <div ng-message="pattern">Допускаются только цифры</div>
                    </div>
                </md-input-container>
                <div class="description">
                    <h4>Текст объявления</h4>
                    <trix-editor trix-initialize="$root.trixInitialize(e, editor)" prevent-trix-file-accept="true" angular-trix ng-model="$ctrl.itemData.description" name="description" required></trix-editor>
                    <div ng-show="form.description.$dirty || trySubmit">
                        <div ng-messages="form.description.$error" class="md-input-invalid">
                            <div ng-message="required">Это обязательное поле</div>
                            <div ng-message="minlength">Значение поля слишком короткое</div>
                            <div ng-message="maxlength">Значение поля слишком длинное</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field tags" ng-init="!$ctrl.itemData.tags ? $ctrl.itemData.tags = [] : null">
                <h3><i class="material-icons">&#xE892;</i> Ключевые слова</h3>
                <h4>Введите ключевые слова, разделяя их при помощи клавиши Enter:</h4>
                <md-chips
                    md-enable-chip-edit="true"
                    ng-model="$ctrl.itemData.tags"
                    md-separator-keys="$ctrl.keys"
                    placeholder="Ключевые слова"></md-chips>
            </div>

            <div class="field photo">
                <h3><i class="material-icons">&#xE251;</i> Фото</h3>
                <photo ng-model="$ctrl.itemData.photos" item-id="$ctrl.itemData._id" edit-mode="$ctrl.editId ? true : false" loading="photosLoading"></photo>
            </div>

            <div class="field video">
                <h3><i class="material-icons">&#xE04B;</i> Видео с YouTube</h3>
                <video-edit ng-model="$ctrl.itemData.videos" max-items="4"></video-edit>
            </div>

            <div layout="row" layout-align="center center">
                <div>
                    <md-button type="submit" class="md-raised md-primary" ng-mousedown="$ctrl.sendform = true" ng-disabled="(form.$invalid && trySubmit) || $ctrl.loading || photosLoading">
                        <span ng-hide="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Добавить объявление</span>
                            <span ng-show="$ctrl.loading">Объявление добавляется...</span>
                        </span>
                        <span ng-show="$ctrl.editId">
                            <span ng-show="!$ctrl.loading">Сохранить изменения</span>
                            <span ng-show="$ctrl.loading">Изменения сохраняются...</span>
                        </span>
                    </md-button>
                </div>
                <div flex>
                    <div class="form-errors" ng-show="form.$invalid && trySubmit">Обнаружены ошибки при заполнении формы. Пожалуйста, исправьте и кнопка станет активной.</div>
                </div>
            </div>
        </div>
    </form>
</div>
