<form name="form" ng-submit="$ctrl.doSearch()" novalidate layout="row" layout-align="right center">
    <div layout="row" flex="60" flex-xs="100" flex-sm="80">
        <input focus-me="$ctrl.focus" type="text" placeholder="Поиск объявлений" ng-model="$ctrl.query" flex>
        <span>
            <i class="material-icons" title="Очистить поиск" ng-click="$ctrl.clear()">&#xE5CD;</i>
            <button type="submit" ng-click="$ctrl.focus = true"><span>Найти</span></button>
        </span>
    </div>
</form>
