@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'

search
  margin-bottom: 0.5rem
  display: block

  form
    margin-bottom: 0.7rem
    > div
      font-size: 1.1rem
      border: 3px solid silver
      input[type="text"]
        box-shadow: inset 0 12px 5px -10px rgba(0,0,0,0.15)
        border: none
        line-height: 1.8rem
        padding-left: 0.3rem
        padding-right: 30px
      span
        display: block
        position: relative
        i
          cursor: pointer
          +size(24px)
          position: absolute
          top: 50%
          transform: translateY(-50%)
          left: -30px
          color: gray
          +user-select(none)
          &:hover
            color: black
        button
          height: 100%
          color: lighten(black, 10%)
          text-transform: uppercase
          border: none
          border-left: 1px solid #c6c6c6
          font-size: 0.9rem
          padding-left: 1rem
          padding-right: 1rem
          background: #f2dedf linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 34%, rgba(222, 222, 222, 1) 100%)
          &:active
            background: #f2dedf linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 14%, rgba(222, 222, 222, 1) 100%)
            span
              position: relative
              top: 1px
