@import '../../cssmodules/bourbon/bourbon'
@import '../../cssmodules/vars'
@import '../../cssmodules/mixins/index'

yamap-edit

  ya-map
    display: block
    width: 100%
    height: 300px

  .search-place
    margin-bottom: -0.5rem

  .map-wrapper
    border: 1px solid rgb(216, 211, 190)

  .marker-info
    .material-icons
      color: royalblue
    background-color: rgb(240, 240, 244)
    border-bottom: 1px solid rgb(216, 211, 190)
    color: #3c3c3c
    font-size: 0.8rem
    padding: 0.4rem

  .remove-placemark
    .md-button
      margin: 0
      line-height: 0.5rem
      min-height: 1.3rem
      font-size: 0.7rem

  yandex-map
    display: block
    width: 100%
